Repository TheMonk2121/ai-dev-tasks: changes, and which pre-commit hooks are due for each by the changed paths.
All: database-sync-check, markdown-validation, timestamp-update

database-sync-check:
  name: Database Synchronization Check
  entry: python3 scripts/database_sync_check.py
  language: system
  pass_filenames: false
  description: Check if files with DATABASE_SYNC tags are current in database

markdown-validation:
  name: Markdown Validation
  entry: python3 scripts/pre_commit_doc_validation.sh
  language: system
  pass_filenames: false
  description: Validate markdown files for consistency

timestamp-update:
  name: Auto Update Documentation Timestamps
  entry: python3 scripts/auto_update_timestamps.py
  language: system
  pass_filenames: false
  description: Automatically update Last Updated timestamps in documentation files

fix: resolve broken links in README.md and update cSpell configuration
  .vscode/settings.json
  003_process-task-list-B-100-coder-role.md
  400_guides/400_ai-constitution.md
  400_guides/400_development-patterns.md
  400_guides/400_error-reduction-lessons-learned.md
  400_guides/400_mission-dashboard-guide.md
  400_guides/400_scribe-v2-system-guide.md
  600_archives/consolidated-guides/400_comprehensive-coding-best-practices.md
  README.md
  dspy-rag-system/processed_documents/400_ai-constitution.md
  dspy-rag-system/processed_documents/400_code-criticality-guide.md
  dspy-rag-system/scripts/database_maintenance.py
  dspy-rag-system/src/utils/role_assignment_integration.py
  dspy-rag-system/test_coder_context.py
  scripts/add_tldr_sections.py
  scripts/fix_broken_links.py
  scripts/fix_duplicate_tldr.py
  scripts/memory_up.sh
  scripts/unified_memory_orchestrator.py
  tests/test_coder_role.py
Due: database-sync-check, markdown-validation, timestamp-update

feat: Phase 1 - Extract high-value code components from clean-history
  dspy-rag-system/enhanced_ask_question.py
  dspy-rag-system/src/dspy_modules/enhanced_rag_system.py
  dspy-rag-system/src/dspy_modules/rag_system.py
  dspy-rag-system/src/utils/config_manager.py
  dspy-rag-system/tests/__init__.py
  dspy-rag-system/tests/test_enhanced_rag_system.py
  dspy-rag-system/tests/test_logger.py
  dspy-rag-system/tests/test_rag_system.py
  dspy-rag-system/tests/test_timeout_config.py
  scripts/check_lm_studio_status.js
  scripts/performance_optimization.py
  tests/prompt_eval.py
  tests/test_fast_path.py
Due: database-sync-check

docs: Phase 2 start — add missing core guides and setup file
  200_setup/201_model-configuration.md
  400_guides/400_development-roadmap.md
  400_guides/400_project-overview.md
  400_guides/400_security-best-practices-guide.md
Due: database-sync-check, markdown-validation, timestamp-update

docs: Phase 3 — add research completion summaries and memory research docs
  500_research/500_b002-completion-summary.md
  500_research/500_b031-completion-summary.md
  500_research/500_b060-completion-summary.md
  500_research/500_b065-completion-summary.md
  500_research/500_memory-arch-benchmarks.md
  500_research/500_memory-arch-research.md
  500_research/500_research-analysis-summary.md
  500_research/500_research-implementation-summary.md
  500_research/500_research-summary.md
Due: database-sync-check, markdown-validation, timestamp-update

feat(backlog): add B-1018 Monitoring & Maintenance and B-1016 RL-Enhanced model selection
  .gitignore
  000_core/000_backlog.md
Due: database-sync-check, markdown-validation, timestamp-update

docs(roadmap): mark B-1018 completed
  000_core/004_development-roadmap.md
Due: database-sync-check, markdown-validation, timestamp-update

docs(workflow): add Monitoring & Maintenance section and commands
  400_guides/400_development-workflow.md
Due: database-sync-check, markdown-validation, timestamp-update

chore(memory): tidy update_cursor_memory.py (style-only)
  scripts/update_cursor_memory.py
Due: database-sync-check

feat(monitoring): add real DB health check and local DSN
  dspy-rag-system/src/monitoring/health_endpoints.py
Due: database-sync-check

feat(scripts): add monitoring/maintenance utilities
  scripts/create_launchd_maintenance.py
  scripts/health_gate.py
  scripts/maintenance.py
  scripts/monitoring_dashboard.py
  scripts/system_monitor.py
Due: database-sync-check

docs(PRD): add RL-Enhanced DSPy Model Selection PRD
  PRD-B-1016-RL-Enhanced-DSPy-Model-Selection.md
Due: database-sync-check, markdown-validation, timestamp-update

chore(config): normalize formatting in validate_config.py (no logic change)
  scripts/validate_config.py
Due: database-sync-check

test(resilience): add concurrency and resilience tests
  test_concurrent.py
  test_resilience.py
Due: database-sync-check

chore(worklog): update B-096 worklog (auto-update)
  artifacts/worklogs/B-096.md
Due: database-sync-check, markdown-validation, timestamp-update

feat(B-093): Scribe auto rehydrate
  000_core/000_backlog.md
  000_core/004_development-roadmap.md
  003_process-task-list-B-093-Doorway-Scribe-Auto-Rehydrate.md
  400_guides/400_development-workflow.md
  dspy-rag-system/src/monitoring/metrics.py
  scripts/__init__.py
  scripts/memory_rehydrate.py
  scripts/rehydration_integration.py
  scripts/session_registry.py
  tests/test_rehydration_integration.py
Due: database-sync-check, markdown-validation, timestamp-update

docs(PR): Add PR summary for B-093 Scribe Auto Rehydrate
  artifacts/pr_signoffs/PR-B-093-Scribe-Auto-Rehydrate.md
Due: database-sync-check, markdown-validation, timestamp-update

ci(b-052): add non-blocking dry-run PR workflow (ruff, pyright, pytest)
  .github/workflows/dry-run.yml
Due: none

ci(b-052): optimize dry-run CI (exclude archives, pin tool versions)
  .github/workflows/dry-run.yml
Due: none

docs(b-052): cross-link CI dry-run workflow and note in backlog
  000_core/000_backlog.md
  100_memory/100_cursor-memory-context.md
  400_guides/400_development-workflow.md
Due: database-sync-check, markdown-validation, timestamp-update

docs: mark B-052 CI dry-run workflow as completed
  000_core/000_backlog.md
  100_memory/104_dspy-development-context.md
Due: database-sync-check, markdown-validation, timestamp-update

refactor(b-1004): remove dead database sync check from pre-commit hooks
  600_archives/scripts/database_sync_check.py
Due: database-sync-check

refactor(b-1004): simplify conflict detection to simple git grep command
  .github/workflows/maintenance-validation.yml
  .pre-commit-config.yaml
  scripts/optimized_quick_conflict_check.py
  scripts/pre_workflow_hook.py
  scripts/quick_conflict_check.py
Due: database-sync-check

refactor(b-1004): update quick-check workflow to use simple conflict detection
  .github/workflows/quick-check.yml
Due: none

feat(b-1004): add Pyright type checking to pre-commit hooks
  .pre-commit-config.yaml
Due: none

feat(b-1004): add fast bandit security scanning to pre-commit hooks
  .pre-commit-config.yaml
Due: none

refactor(b-1004): replace overengineered doc validation with simple bash script
  .pre-commit-config.yaml
  scripts/doc_coherence_validator.py
  scripts/pre_commit_doc_validation.sh
  scripts/simple_doc_validation.sh
Due: database-sync-check

docs(b-1004): update DSPy development context with simplified quality gates
  100_memory/104_dspy-development-context.md
Due: database-sync-check, markdown-validation, timestamp-update

feat(b-1004): enable simplified pre-commit hooks for fast validation
  .pre-commit-config.yaml
  test.md
  test.py
Due: database-sync-check, markdown-validation, timestamp-update

feat(b-1004): disable pre-commit hooks for normal development
  .pre-commit-config.yaml
Due: none

docs(b-1004-qg): mark Simplify Overengineered Quality Gates as completed in backlog and DSPy context
  000_core/000_backlog.md
  100_memory/104_dspy-development-context.md
Due: database-sync-check, markdown-validation, timestamp-update

docs: update B-096 worklog with latest commit activity
  artifacts/worklogs/B-096.md
Due: database-sync-check, markdown-validation, timestamp-update

Fix development tooling and integration tests
  .vscode/settings.json
  dspy-rag-system/final_integration_test.py
  dspy-rag-system/performance_benchmark.py
Due: database-sync-check

Update dependencies for MCP integration
  dspy-rag-system/requirements.txt
Due: database-sync-check

Enhance MCP base server and configuration management
  dspy-rag-system/src/utils/config_manager.py
  dspy-rag-system/src/utils/mcp_integration/base_server.py
Due: database-sync-check

Enhance MCP server implementations
  dspy-rag-system/src/utils/mcp_integration/github_server.py
  dspy-rag-system/src/utils/mcp_integration/office_server.py
  dspy-rag-system/src/utils/mcp_integration/pdf_server.py
  dspy-rag-system/src/utils/mcp_integration/web_server.py
Due: database-sync-check

Update DSPy modules for MCP integration
  dspy-rag-system/src/dspy_modules/enhanced_rag_system.py
  dspy-rag-system/src/dspy_modules/mcp_document_processor.py
  dspy-rag-system/src/dspy_modules/mcp_module.py
  dspy-rag-system/src/dspy_modules/rag_system.py
  dspy-rag-system/src/dspy_modules/standardized_pipeline.py
Due: database-sync-check

Update test suite for MCP integration enhancements
  dspy-rag-system/test_office_server.py
  dspy-rag-system/test_pdf_server.py
  dspy-rag-system/tests/test_mcp_base.py
  dspy-rag-system/tests/test_office_server.py
  dspy-rag-system/tests/test_pdf_server.py
  dspy-rag-system/tests/test_standardized_pipeline.py
Due: database-sync-check

feat: Enable pre-commit hooks and fix model switcher unused variable
  .pre-commit-config.yaml
  000_core/000_backlog.md
  README.md
  dspy-rag-system/src/dspy_modules/model_switcher.py
Due: database-sync-check, markdown-validation, timestamp-update

000_housecleaning: Comprehensive README enhancement and guide consolidation cleanup
  .vscode/settings.json
  000_core/001_create-prd-enhanced-preview.md
  000_core/001_create-prd-hybrid.md
  003_process-task-list-B-100-coder-role.md
  400_ai-constitution.md
  400_guides/400_ai-constitution.md
  400_guides/400_comprehensive-coding-best-practices.md
  400_guides/400_development-patterns.md
  400_guides/400_dspy-v2-technical-implementation-guide.md
  400_guides/400_error-reduction-lessons-learned.md
  400_guides/400_mission-dashboard-guide.md
  400_guides/400_scribe-v2-system-guide.md
  README.md
  artifacts/maintenance.err
  artifacts/maintenance.out
  artifacts/worklogs/B-096.md
  dspy-rag-system/processed_documents/400_code-criticality-guide.md
  dspy-rag-system/src/dspy_modules/document_processor.py
  scripts/tools/get_parent_backlog_id.py
Due: database-sync-check, markdown-validation, timestamp-update

Path conditions:
  database-sync-check: any of: \.(md|txt|py)$
  markdown-validation: any of: \.md$
  timestamp-update: any of: \.md$
