Repository TheMonk2121/ai-dev-tasks: changes, and which pre-commit hooks are due for each by the changed paths.
All: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

conflict-check:
  name: Conflict Check
  entry: bash scripts/hook_timer.sh
  args:
  - bash
  - -c
  - git grep -nE '^(<<<<<<< |======= |>>>>>>> )' '$@' || exit 0
  language: system
  pass_filenames: true
  description: Check for merge conflicts using simple git grep

bandit-security-scan:
  name: Bandit Security Scan
  entry: bash scripts/hook_timer.sh
  args:
  - bandit
  - -q
  - --severity-level
  - medium
  - --exit-zero
  language: system
  pass_filenames: true
  description: Run Bandit on staged Python files using .bandit config with medium severity

markdown-validation:
  name: Markdown Validation
  entry: bash scripts/hook_timer.sh
  args:
  - bash
  - scripts/simple_doc_validation.sh
  language: system
  pass_filenames: false
  description: Validate markdown files for basic structure and broken links

timestamp-update:
  name: Auto Update Documentation Timestamps
  entry: bash scripts/hook_timer.sh
  args:
  - python3
  - scripts/auto_update_timestamps.py
  language: system
  pass_filenames: false
  description: Automatically update Last Updated timestamps in documentation files

docs: Update documentation and status for real data evaluation transition
  100_memory/105_cspell-automation-memory.md
  300_experiments/300_lessons-learned-file-corruption-prevention.md
  300_experiments/300_testing-methodology-log.md
Due: conflict-check, markdown-validation, timestamp-update

feat: Add comprehensive metrics and results from real data evaluation
  metrics/baseline_evaluations/progress.jsonl
  metrics/briefings/20250906_210905_stable_bedrock_ABP.md
  metrics/briefings/20250906_211701_stable_bedrock_ABP.md
  metrics/briefings/20250906_212232_stable_bedrock_ABP.md
  metrics/briefings/20250906_213653_stable_bedrock_ABP.md
  metrics/briefings/20250906_220301_stable_bedrock_ABP.md
  metrics/briefings/20250906_221750_stable_bedrock_ABP.md
  metrics/briefings/20250906_222746_stable_bedrock_ABP.md
  metrics/briefings/20250906_230159_stable_bedrock_ABP.md
  metrics/briefings/20250906_230358_stable_bedrock_ABP.md
  metrics/briefings/20250906_231551_stable_bedrock_ABP.md
  metrics/briefings/20250906_232156_stable_bedrock_ABP.md
  metrics/briefings/20250906_232345_stable_bedrock_ABP.md
  metrics/briefings/20250906_232408_stable_bedrock_ABP.md
  metrics/derived_configs/20250906_210905_stable_bedrock_candidate.env
  metrics/derived_configs/20250906_210905_stable_bedrock_decision_docket.md
  metrics/derived_configs/20250906_211701_stable_bedrock_candidate.env
  metrics/derived_configs/20250906_211701_stable_bedrock_decision_docket.md
  metrics/derived_configs/20250906_212232_stable_bedrock_candidate.env
  metrics/derived_configs/20250906_212232_stable_bedrock_decision_docket.md
  metrics/derived_configs/20250906_213653_stable_bedrock_candidate.env
  metrics/derived_configs/20250906_213653_stable_bedrock_decision_docket.md
  metrics/derived_configs/20250906_220301_stable_bedrock_candidate.env
  metrics/derived_configs/20250906_220301_stable_bedrock_decision_docket.md
  metrics/derived_configs/20250906_221750_stable_bedrock_candidate.env
  metrics/derived_configs/20250906_221750_stable_bedrock_decision_docket.md
  metrics/derived_configs/20250906_222746_stable_bedrock_candidate.env
  metrics/derived_configs/20250906_222746_stable_bedrock_decision_docket.md
  metrics/derived_configs/20250906_230159_stable_bedrock_candidate.env
  metrics/derived_configs/20250906_230159_stable_bedrock_decision_docket.md
  metrics/derived_configs/20250906_230358_stable_bedrock_candidate.env
  metrics/derived_configs/20250906_230358_stable_bedrock_decision_docket.md
  metrics/derived_configs/20250906_231551_stable_bedrock_candidate.env
  metrics/derived_configs/20250906_231551_stable_bedrock_decision_docket.md
  metrics/derived_configs/20250906_232156_stable_bedrock_candidate.env
  metrics/derived_configs/20250906_232156_stable_bedrock_decision_docket.md
  metrics/derived_configs/20250906_232345_stable_bedrock_candidate.env
  metrics/derived_configs/20250906_232345_stable_bedrock_decision_docket.md
  metrics/derived_configs/20250906_232408_stable_bedrock_candidate.env
  metrics/derived_configs/20250906_232408_stable_bedrock_decision_docket.md
Due: conflict-check, markdown-validation, timestamp-update

feat: Update development infrastructure and tooling for real data evaluation
  .githooks/pre-commit
  .markdownlint.jsonc
  .markdownlintignore
  .vscode/settings.json
  artifacts/maintenance.out
  scripts/run_hermetic_eval.sh
  throttle_free_eval.sh
Due: conflict-check

feat: Add production evaluation and configuration management tools
  dspy-rag-system/src/utils/config_lock.py
  dspy-rag-system/src/utils/enhanced_chunking.py
  scripts/cspell_automation.py
  scripts/demo_config_lock.py
  scripts/lock_production_config.py
  scripts/production_evaluation.py
  scripts/production_health_monitor.py
Due: conflict-check, bandit-security-scan

feat: Implement comprehensive production hardening and go-live infrastructure
  PRODUCTION_GO_LIVE_CHECKLIST.md
  configs/deterministic_evaluation.env
  scripts/48_hour_canary_monitor.py
  scripts/backup_system.py
  scripts/eval_manifest_generator.py
  scripts/health_gated_evaluation.py
  scripts/nightly_smoke_evaluation.py
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

feat: Complete production-ready system with comprehensive observability and safety
  400_guides/400_production-configuration-locking.md
  48_HOUR_BAKEOFF_README.md
  PRODUCTION_READY_SUMMARY.md
  config/agent_memory_spec.yaml
  config/env_guard.py
  dspy-rag-system/src/dspy_modules/vector_store.py
  dspy-rag-system/src/utils/agent_behavior_lock.py
  dspy-rag-system/src/utils/agent_memory_blueprint.py
  dspy-rag-system/src/utils/canary_rollout_manager.py
  dspy-rag-system/src/utils/comprehensive_trap_grid.py
  dspy-rag-system/src/utils/config_lock.py
  dspy-rag-system/src/utils/dataset_traps.py
  dspy-rag-system/src/utils/enhanced_chunking.py
  dspy-rag-system/src/utils/eval_determinism.py
  dspy-rag-system/src/utils/observability_traps.py
  dspy-rag-system/src/utils/optimized_embeddings.py
  dspy-rag-system/src/utils/surgical_polish.py
  dspy-rag-system/src/utils/tool_traps.py
  dspy-rag-system/src/utils/traffic_light_observability.py
  scripts/48_hour_bakeoff.py
  scripts/canary_rollout.py
  scripts/ci_parity_tests.py
  scripts/demo_complete_system.py
  scripts/demo_config_lock.py
  scripts/eval_optimization_suite.py
  scripts/healthcheck_notebook.py
  scripts/kpi_monitor.py
  scripts/lock_production_config.py
  scripts/production_evaluation.py
  scripts/production_health_monitor.py
  scripts/production_runbook.py
  scripts/sanity_probes.py
  scripts/shadow_ingest.py
  scripts/sql/fix_sparse_vector_ddls.sql
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

feat: Complete final production go-live package with day-0 sanity and game-day drills
  .github/workflows/dspy-compile.yml
  RESIDUAL_RISK_REGISTER.md
  VERBAL_DEFINITION_OF_READY.md
  dspy_program.py
  scripts/canary_rollout.py
  scripts/day0_sanity_checklist.py
  scripts/freeze_baseline_artifacts.py
  scripts/game_day_drills.py
  scripts/gate_and_promote.py
  scripts/kpi_triage_system.py
  scripts/on_call_ready_system.py
  scripts/ops_rhythm_system.py
  scripts/phase2_kickstart.py
  scripts/production_runbook.py
  scripts/tiny_hardening_system.py
  templates/eval_manifest_template.yaml
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

feat: Major DSPy RAG system enhancements with fusion adapter and cross-encoder reranking
  dspy-rag-system/src/dspy_modules/rag_pipeline.py
  dspy-rag-system/src/dspy_modules/vector_store.py
  dspy_program.py
Due: conflict-check, bandit-security-scan

feat: Comprehensive evaluation system infrastructure with quality gates
  scripts/gate_and_promote.py
  scripts/ragchecker_official_evaluation.py
  templates/eval_manifest_template.yaml
Due: conflict-check, bandit-security-scan

feat: Comprehensive configuration management and baseline evaluation infrastructure
  baseline_artifacts/baseline_20250907_060050/eval_manifest.yaml
  baseline_artifacts/baseline_20250907_061631/eval_manifest.yaml
  configs/game_day/drills_log.jsonl
  configs/hardening/hardening_log.jsonl
  configs/on_call/rollback_log.jsonl
  configs/phase2/kickstart_log.jsonl
  configs/triage/triage_log.jsonl
  metrics/baseline_evaluations/latest_manifest.yaml
Due: conflict-check

feat: Training datasets and dependency management for DSPy RAG system
  datasets/train.jsonl
  datasets/val.jsonl
  dspy-rag-system/uv.lock
Due: none

feat: Utility scripts and helper functions for DSPy RAG system
  dspy-rag-system/src/utils/few_shot_provenance.py
  dspy-rag-system/src/utils/idempotent_chunk_ids.py
  scripts/canary_percentage_check.py
  scripts/deployment_blocking.py
  scripts/eval_pass_validation.py
Due: conflict-check, bandit-security-scan

feat: Complete repo-gold evaluation system with strict accuracy gates
  configs/repo_gold_evaluation.env
  datasets/dev_gold.jsonl
  datasets/dev_gold_review.md
  datasets/few_shot_pool.jsonl
  scripts/bootstrap_repo_gold_dataset.py
  scripts/ci_evaluation_pipeline.py
  scripts/leakage_guard.py
  scripts/repo_gold_setup_summary.py
  scripts/run_evaluation_suite.py
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

Retrieval stable: weights/limits + gold; 13/13 prefilter
  configs/retriever_limits.yaml
  configs/retriever_weights.yaml
  evals/gold_cases.json
Due: conflict-check

docs: Add Day-0 release artifacts and Day-1 guardrails setup
  DAY1_GUARDRAILS_setup.md
  RELEASE_ARTIFACT_ci_gate_output.txt
  RELEASE_NOTES_retrieval-13of13-stable.md
  ROLLBACK_SWITCHES_retrieval-13of13-stable.md
Due: conflict-check, markdown-validation, timestamp-update

feat: Implement Path A, B, C - Reader Gate, Drift Detector, Cold-Start Hardening
  .github/workflows/drift-detector.yml
  .github/workflows/reader-gate.yml
  dspy-rag-system/src/dspy_modules/retriever/pg.py
  dspy-rag-system/src/dspy_modules/retriever/query_rewrite.py
  evals/reader_gold.jsonl
  scripts/ci_gate_reader.py
  scripts/drift_detector.py
  scripts/tiny_grid.py
Due: conflict-check, bandit-security-scan

feat: Day-1 Ops - Runtime knobs, incident playbook, ablation snapshot, growth procedures
  ABLATION_SNAPSHOT_retrieval-13of13-stable.json
  GROWTH_HYGIENE_PROCEDURES.md
  INCIDENT_RESPONSE_PLAYBOOK.md
  configs/reader_limits.yaml
  configs/retrieval-13of13-stable.env
  scripts/ablation_snapshot.py
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

feat: Complete evaluation system with reader implementation
  dspy-rag-system/src/dspy_modules/reader/__init__.py
  dspy-rag-system/src/dspy_modules/reader/entrypoint.py
  dspy-rag-system/src/dspy_modules/reader/sentence_select.py
  evals/latest_reader_metrics.json
  evals/latest_retrieval_metrics.json
  scripts/run_reader.py
Due: conflict-check, bandit-security-scan

feat: Complete DSPy-RAG evaluation system with memory improvements and case ID sync
  configs/retriever_weights.yaml.20250907_172101.bak
  configs/retriever_weights.yaml.20250907_180148.bak
  dspy-rag-system/src/common/case_id.py
  dspy-rag-system/src/dspy_modules/dspy_reader_program.py
  evals/dspy/dev.jsonl
  evals/dspy/test.jsonl
  evals/latest_reader_metrics.json
  evals/reader_gold_adversarial.jsonl
  evals/reader_gold_bootstrap.jsonl
  evals/reader_gold_bootstrap_synced.jsonl
  evals/reader_gold_bootstrap_unmatched.jsonl
  evals/reader_gold_comprehensive.jsonl
  evals/reader_gold_repo_targeted.jsonl
  evals/reader_gold_unmatched.jsonl
  scripts/cases_sync_ids.py
  scripts/ci_gate_reader.py
  scripts/cursor_memory_rehydrate.py
  scripts/generate_reader_gold_bootstrap.py
  scripts/generate_reader_gold_from_db.py
  scripts/memory_healthcheck.py
  scripts/sync_reader_case_ids.py
  scripts/venv_manager.py
  tests/test_case_id.py
Due: conflict-check, bandit-security-scan

feat: Achieve 0.500 F1 - Beat RAGAS by 210% and RAGChecker by 86%
  .github/workflows/reader-gate.yml
  configs/retriever_limits.yaml
  configs/retriever_weights.yaml.20250907_184732.bak
  dspy-rag-system/src/dspy_modules/dspy_reader_program.py
  dspy-rag-system/src/dspy_modules/reader/entrypoint.py
  dspy-rag-system/src/dspy_modules/reader/sentence_select.py
  dspy-rag-system/src/dspy_modules/retriever/query_rewrite.py
  evals/dspy/dev_curated.jsonl
  evals/gold.jsonl
  evals/gold_cases.json
  evals/latest_reader_metrics.json
  evals/latest_retrieval_metrics.json
  evals/reader_gold_comprehensive.jsonl
  evals/reader_gold_unmatched.jsonl
Due: conflict-check, bandit-security-scan

reader: extractive + snippetized + tag-calibrated; embeddings backfill
  configs/retriever_limits.yaml
  configs/retriever_weights.yaml.20250907_192444.bak
  configs/retriever_weights.yaml.20250907_193916.bak
  configs/retriever_weights.yaml.20250907_195641.bak
  dspy-rag-system/src/dspy_modules/dspy_reader_program.py
  dspy-rag-system/src/dspy_modules/reader/__init__.py
  dspy-rag-system/src/dspy_modules/reader/program.py
  dspy-rag-system/src/dspy_modules/reader/sentence_select.py
  dspy-rag-system/src/dspy_modules/reader/signatures.py
  dspy-rag-system/src/dspy_modules/reader/snippetizer.py
  dspy-rag-system/src/dspy_modules/reader/span_picker.py
  dspy-rag-system/src/dspy_modules/retriever/query_rewrite.py
  dspy-rag-system/src/dspy_modules/retriever/rerank.py
  evals/candidates.jsonl
  evals/candidates_gated.jsonl
  evals/gold.jsonl
  evals/gold_cases.json
  evals/latest_retrieval_metrics.json
  evals/reader_gold.jsonl
  evals/reader_gold_comprehensive_expanded.jsonl
  scripts/audit_gold_spans.py
  scripts/backfill_embeddings.py
  scripts/calibrate_answerable_threshold.py
  scripts/documentation_indexer.py
  scripts/expand_gold_variants.py
  scripts/gate_new_cases.py
  scripts/generate_reader_gold_from_db.py
  scripts/manual_index_retriever.py
  scripts/reader_debug_ab.py
  scripts/reader_grid_sweep.py
  scripts/run_dspy_reader.py
  scripts/test_db_query.py
  scripts/tiny_grid.py
  scripts/validate_eval_targets.py
Due: conflict-check, bandit-security-scan

feat: wire ExtractiveReader into official eval + JSONL dataset hygiene
  dspy-rag-system/src/dspy_modules/rag_pipeline.py
  dspy-rag-system/src/dspy_modules/reader/__init__.py
  evals/gold_cases.jsonl
  scripts/convert_json_to_jsonl.py
  scripts/ragchecker_official_evaluation.py
Due: conflict-check, bandit-security-scan

fix: implement embedding_text hotfix and backfill, fix gold case mismatch
  .github/workflows/commit-message-check.yml
  .github/workflows/dry-run.yml
  .github/workflows/dspy-compile.yml
  .github/workflows/eval.yml
  .github/workflows/maintenance-validation.yml
  .github/workflows/ragchecker-evaluation.yml
  .github/workflows/reader-gate.yml
  dspy-rag-system/src/dspy_modules/reader/entrypoint.py
  dspy-rag-system/src/dspy_modules/reader/program.py
  dspy-rag-system/src/dspy_modules/reader/sentence_select.py
  dspy-rag-system/src/dspy_modules/retriever/pg.py
  evals/gold_cases.json
  evals/latest_reader_metrics.json
  evals/reader_gold_comprehensive.jsonl
  requirements.txt
  scripts/ci_gate_reader.py
  scripts/run_extractive_reader.py
Due: conflict-check, bandit-security-scan

fix: update gold answers to match actual content and improve retrieval
  dspy-rag-system/src/dspy_modules/retriever/query_rewrite.py
  evals/reader_gold_comprehensive.jsonl
Due: conflict-check, bandit-security-scan

feat: implement unified gold evaluation system
  dspy-rag-system/eval_gold.py
  dspy-rag-system/src/utils/evaluation_harness.py
  evals/gold/v1/README.md
  evals/gold/v1/gold_cases.jsonl
  scripts/export_hardcoded_gold.py
  scripts/ragchecker_official_evaluation.py
  scripts/run_evaluation_suite.py
  scripts/validate_gold.py
  src/utils/gold_loader.py
  tests/test_gold_dataset.py
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

chore: stage and commit remaining unstaged changes
  README.md
  artifacts/maintenance.out
  dspy-rag-system/src/dspy_modules/retriever/query_rewrite.py
  scripts/suggest_readme_update.sh
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

Implement Codex suggestions: PR lanes, flake signal, and test selectors
  .github/workflows/ci-pr-lanes.yml
  evals_300/_generated/300_core.md
  metrics/README.md
  scripts/select_impacted_tests.py
  scripts/test_signal_report.py
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

Implement test enforcement and reduction system
  .github/workflows/ci-apply-quarantine.yml
  .github/workflows/ci-bloat-guard.yml
  .github/workflows/ci-retirement-cleaner.yml
  metrics/dead_code.jsonl
  scripts/apply_test_dispositions.py
  scripts/dead_code_sweep.py
  scripts/enforce_budgets.py
  scripts/hard_delete_retired.py
  tests/budgets.yml
  tests/demo/test_quarantine_candidate.py
  tests/demo/test_retire_candidate.py
  tests/legacy/test_quarantine_candidate.py
  tests/legacy/test_retire_candidate.py
  tests/sentinels.yml
Due: conflict-check, bandit-security-scan

feat: implement evaluation profile system
  000_core/011_evaluation-profiles-guide.md
  Makefile
  configs/evals_layers/base.env
  configs/evals_layers/reranker_off.env
  configs/evals_layers/reranker_on.env
  configs/profiles/gold.env
  configs/profiles/mock.env
  configs/profiles/real.env
  configs/real_rag_evaluation.env
  scripts/_ragchecker_eval_impl.py
  scripts/eval_gold.sh
  scripts/eval_mock.sh
  scripts/eval_real.sh
  scripts/ragchecker_official_evaluation.py
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

feat: enhance testing and quality infrastructure
  .github/workflows/ci-apply-quarantine.yml
  .github/workflows/ci-nightly-baseline.yml
  .github/workflows/ci-pr-quick.yml
  .github/workflows/ci-schema-validation.yml
  pytest.ini
  scripts/check_static_imports.py
  scripts/clean_ephemeral_metrics.py
Due: conflict-check, bandit-security-scan

feat: implement fusion head and machine learning system
  configs/learned_fusion.env
  configs/learned_fusion.pt
  dspy-rag-system/src/dspy_modules/rag_pipeline.py
  dspy-rag-system/src/dspy_modules/retriever/feature_schema.py
  dspy-rag-system/src/dspy_modules/retriever/fusion_head.py
  dspy-rag-system/src/dspy_modules/retriever/pg.py
  dspy-rag-system/src/utils/pyd_ndarray.py
  dspy-rag-system/train/feature_io.py
  dspy-rag-system/train/fusion_dataset.py
  dspy-rag-system/train/fusion_head.py
  dspy-rag-system/train/persist_training_features.py
  scripts/train_fusion_head.py
Due: conflict-check, bandit-security-scan

feat: enhance evaluation system infrastructure
  evals/load_cases.py
  evals_300/_generated/300_core.md
  evals_300/_state/changelog.ndjson
  evals_300/tools/run.py
  src/evaluation/unified_schemas.py
  src/schemas/eval.py
  src/utils/gold_loader.py
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

feat: add cleanup tools, tests, and documentation
  200_setup/200_naming-conventions.md
  IMPLEMENTATION_SUMMARY.md
  metrics/_invalid/lessons.jsonl
  metrics/dead_code.jsonl
  pyproject.toml
  scripts/clean_retirement_queue.py
  tests/bench/test_ndarray_pydantic_bench.py
  tests/test_config_profiles.py
  tests/test_feature_artifacts_schema.py
  tests/test_ndarray_validation.py
  uv.lock
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

fix: resolve dependency conflicts and environment setup
  pyproject.toml
  uv.lock
Due: none

feat: modernize all CI/CD workflows to use uv and Python 3.12
  .github/workflows/ci-apply-quarantine.yml
  .github/workflows/ci-bloat-guard.yml
  .github/workflows/ci-nightly-baseline.yml
  .github/workflows/ci-nightly-test-signal.yml
  .github/workflows/ci-pr-lanes.yml
  .github/workflows/ci-pr-quick.yml
  .github/workflows/ci-retirement-cleaner.yml
  .github/workflows/ci-schema-validation.yml
  .github/workflows/commit-message-check.yml
  .github/workflows/drift-detector.yml
  .github/workflows/dry-run.yml
  .github/workflows/evals-docs.yml
  .github/workflows/maintenance-validation.yml
  .github/workflows/ragchecker-evaluation.yml
  .github/workflows/reader-gate.yml
  .github/workflows/reranker-ablation.yml
Due: conflict-check

feat: add Docker-based test infrastructure and fix test collection
  Makefile
  scripts/docker_pytest.sh
  scripts/docker_pytest_cached.sh
  scripts/eval_gold.sh
  scripts/eval_mock.sh
  scripts/eval_real.sh
  scripts/setup_container_venv.sh
  scripts/setup_host_venv.sh
  src/schemas/eval.py
  tests/conftest.py
  tests/test_schema_roundtrip.py
Due: conflict-check, bandit-security-scan

fix: resolve Torch registration conflicts by disabling problematic tests
  dspy-rag-system/baseline_rag_performance_test.py.disabled
  dspy-rag-system/complex_test.py.disabled
  dspy-rag-system/quality_comparison_test.py.disabled
  dspy-rag-system/simple_test.py.disabled
Due: none

feat: enhance RAG system and evaluation components
  000_core/011_evaluation-profiles-guide.md
  artifacts/maintenance.out
  dspy-rag-system/src/dspy_modules/dspy_reader_program.py
  dspy-rag-system/src/dspy_modules/rag_pipeline.py
  dspy-rag-system/src/dspy_modules/reader/program.py
  dspy-rag-system/src/dspy_modules/retriever/pg.py
  dspy-rag-system/src/dspy_modules/retriever/query_rewrite.py
  dspy-rag-system/src/dspy_modules/retriever/reranker_config.py
  dspy-rag-system/src/dspy_modules/vector_store.py
  dspy-rag-system/src/utils/memory_rehydrator.py
  evals/gold/v1/gold_cases.jsonl
  evals_300/_generated/300_core.md
  evals_300/_state/changelog.ndjson
  evals_300/tools/run.py
  metrics/baseline_evaluations/progress.jsonl
  run_evals.sh
  scripts/_ragchecker_eval_impl.py
  scripts/apply_test_dispositions.py
  scripts/hard_delete_retired.py
  scripts/ragchecker_official_evaluation.py
  src/utils/gold_loader.py
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

Path conditions:
  conflict-check: any of: \.(md|py|txt|sh|yaml|yml|json)$
  bandit-security-scan: any of: \.py$
  markdown-validation: any of: \.md$
  timestamp-update: any of: \.md$
