Repository TheMonk2121/ai-dev-tasks: changes, and which pre-commit hooks are due for each by the changed paths.
All: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

Path conditions:
  conflict-check: any of: \.(md|py|txt|sh|yaml|yml|json)$
  bandit-security-scan: any of: \.py$
  markdown-validation: any of: \.md$
  timestamp-update: any of: \.md$

Priority 4: Reduce Technical Density in all three guides
  400_guides/400_01_memory-system-architecture.md
  400_guides/400_09_ai-frameworks-dspy.md
  400_guides/400_11_performance-optimization.md
Due: conflict-check, markdown-validation, timestamp-update

Priority 5: Add Choose Your Own Adventure Navigation to all three guides
  400_guides/400_01_memory-system-architecture.md
  400_guides/400_09_ai-frameworks-dspy.md
  400_guides/400_11_performance-optimization.md
Due: conflict-check, markdown-validation, timestamp-update

feat: implement schema inspection and drift detection system
  400_guides/400_schema-inspection-guide.md
  scripts/system_health_check.py
  scripts/update_schema_baseline.sh
  scripts/validate_config.py
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

fix: resolve Pyright type checking and import issues
  dspy-rag-system/src/dspy_modules/model_switcher.py
  pyrightconfig.json
Due: conflict-check, bandit-security-scan

feat: add DSPy role-based documentation audit scripts
  dspy-rag-system/run_multi_role_audit.py
  dspy-rag-system/run_researcher_analysis.py
  dspy-rag-system/run_specific_technical_review.py
  dspy-rag-system/run_technical_review.py
  dspy-rag-system/run_technical_writer_audit.py
Due: conflict-check, bandit-security-scan

refactor: restructure documentation and update backlog
  .vscode/settings.json
  000_core/000_backlog.md
  400_guides/400_00_getting-started-and-index.md
  400_guides/400_01_documentation-playbook.md
  400_guides/400_02_governance-and-ai-constitution.md
  400_guides/400_05_coding-and-prompting-standards.md
  400_guides/400_06_memory-and-context-systems.md
  400_guides/400_07_ai-frameworks-dspy.md
  400_guides/400_08_integrations-editor-and-models.md
  400_guides/400_08_results-management-and-evaluations.md
  400_guides/400_09_automation-and-pipelines.md
  400_guides/400_10_security-compliance-and-access.md
  400_guides/400_11_deployments-ops-and-observability.md
  400_guides/400_12_product-management-and-roadmap.md
  add_deprecation_notices.py
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

fix: update Pyright configuration in all locations to suppress error types
  dspy-rag-system/pyrightconfig.json
  pyproject.toml
Due: conflict-check

refactor: integrate schema inspection content into 00-12 guide structure
  400_guides/400_05_codebase-organization-patterns.md
  400_guides/400_schema-inspection-guide.md
Due: conflict-check, markdown-validation, timestamp-update

docs: completely rewrite README with product manager perspective
  README.md
Due: conflict-check, markdown-validation, timestamp-update

docs: upgrade README with hybrid approach combining best of both versions
  README.md
Due: conflict-check, markdown-validation, timestamp-update

feat: complete B-1009 AsyncIO Memory System Revolution with comprehensive performance enhancements
  000_core/000_backlog.md
  003_process-task-list-B-1009-AsyncIO-Scribe-Enhancement.md
  100_memory/100_cursor-memory-context.md
  400_guides/400_11_performance-optimization.md
  Task-List-B-1009-AsyncIO-Scribe-Enhancement.md
  scripts/memory_benchmark.py
  scripts/performance_optimization.py
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

chore(pre-commit): add baseline metrics soft gate and supporting scripts
  .pre-commit-config.yaml
  scripts/add_baseline_check_to_precommit.py
  scripts/baseline_metrics_collector.py
  scripts/check_baseline_metrics.py
Due: conflict-check, bandit-security-scan

docs(B-1049): mark Pydantic integration COMPLETE; add migration guide; update system docs
  000_core/000_backlog.md
  400_guides/400_03_system-overview-and-architecture.md
  400_guides/400_05_codebase-organization-patterns.md
  400_guides/400_ragchecker_pydantic_migration_guide.md
  B-1049_Pydantic_Integration_Completion_Summary.md
  Task-List-B-1049-Pydantic-Integration-with-RAGChecker-Evaluation-System.md
  metrics/TEST_RESULTS_HISTORY.md
  metrics/baseline_evaluations/EVALUATION_STATUS.md
  metrics/baseline_evaluations/README.md
Due: conflict-check, markdown-validation, timestamp-update

feat(ragchecker): Pydantic v2 + constitution validation + perf optimization/monitoring + error recovery
  scripts/ragchecker_constitution_validator.py
  scripts/ragchecker_debug_manager.py
  scripts/ragchecker_error_recovery.py
  scripts/ragchecker_evaluation.py
  scripts/ragchecker_official_evaluation.py
  scripts/ragchecker_performance_monitor.py
  scripts/ragchecker_performance_optimizer.py
Due: conflict-check, bandit-security-scan

refactor(dspy-rag-system): align core modules with new RAG workflows and stabilize tests
  dspy-rag-system/enhanced_ask_question.py
  dspy-rag-system/pyrightconfig.json
  dspy-rag-system/scripts/setup.sh
  dspy-rag-system/scripts/setup_secrets.py
  dspy-rag-system/src/dashboard.py
  dspy-rag-system/src/dspy_modules/enhanced_rag_system.py
  dspy-rag-system/src/dspy_modules/rag_system.py
  dspy-rag-system/src/dspy_modules/vector_store.py
  dspy-rag-system/src/mission_dashboard/mission_dashboard.py
  dspy-rag-system/src/utils/conversation_storage.py
  dspy-rag-system/src/utils/ltst_memory_system.py
  dspy-rag-system/src/utils/secrets_manager.py
  dspy-rag-system/src/utils/unified_data_pipeline.py
  dspy-rag-system/tests/test_enhanced_rag_system.py
  dspy-rag-system/tests/test_logger.py
  dspy-rag-system/tests/test_rag_system.py
  dspy-rag-system/tests/test_timeout_config.py
Due: conflict-check, bandit-security-scan

docs(B-1059): add Retrieval Tuning Protocol PRD and task scaffolding
  000_core/005_rag-tuning-protocol.md
  000_core/PRD_B-1059_retrieval-tuning-protocol.md
  000_core/PROCESS_TASKS_B-1059_retrieval-tuning-protocol.md
  000_core/TASK_GENERATION_B-1059_retrieval-tuning-protocol.md
Due: conflict-check, markdown-validation, timestamp-update

chore(ops/metrics): add baseline milestone docs and ops helpers; minor client/tests tune-ups
  metrics/baseline_evaluations/NEW_BASELINE_MILESTONE_2025.md
  metrics/baseline_evaluations/RED_LINE_ENFORCEMENT_RULES.md
  scripts/bedrock_client.py
  scripts/conflict_audit.py
  scripts/memory_benchmark.py
  tests/prompt_eval.py
  tests/test_fast_path.py
  tests/test_rehydration_integration.py
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

docs(core): update roadmap, README, memory context and backlog tools
  000_core/004_development-roadmap.md
  000_core/004_development-roadmap.md.backup
  000_core/README.md
  100_memory/100_cursor-memory-context.md
  scripts/tools/get_parent_backlog_id.py
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

fix(baseline): minor updates to baseline metrics scripts
  scripts/add_baseline_check_to_precommit.py
  scripts/baseline_metrics_collector.py
  scripts/check_baseline_metrics.py
Due: conflict-check, bandit-security-scan

docs(research): add comprehensive research documentation and literature
  500_research/500_advanced-analytics-insights-task-7-2.md
  500_research/500_advanced-model-adaptation-framework-task-6-2.md
  500_research/500_advanced-resilience-patterns-task-7-1.md
  500_research/500_ai-retrieval-literature.md
  500_research/500_automated-performance-monitoring-task-6-4.md
  500_research/500_baseline-structure-a-analysis.md
  500_research/500_comprehensive-benchmark-analysis-task-3-1.md
  500_research/500_comprehensive-documentation-suite-task-6-3.md
  500_research/500_memory-arch-literature.md
  500_research/500_model-specific-testing-framework-analysis.md
  500_research/500_overflow-handling-implementation-task-6-1.md
  500_research/500_performance-analysis-optimization-opportunities-task-3-2.md
  500_research/500_proof-of-concept-implementation-task-5-1.md
  500_research/500_proof-of-concept-validation-task-5-2.md
  500_research/500_structure-b-optimization-analysis.md
  500_research/Unsupervised Machine Learning Approaches for Test Suite Reduction.pdf
  500_research/test-suite-reduction-research-summary.md
Due: conflict-check, markdown-validation, timestamp-update

docs(backlog): add PRDs, task lists, and audit documents for active backlog items
  003_process-task-list-B-032-Memory-Context-System-Architecture-Research.md
  003_process-task-list-B-1054-Generation-Cache-Implementation.md
  003_process-task-list-B-1056-CAG-Inspired-Performance-Enhancements.md
  MEMORY_SYSTEM_DATABASE_AUDIT.md
  PIPELINE_DATABASE_AUDIT.md
  PRD-B-032-Memory-Context-System-Architecture-Research.md
  PRD-B-1054-Generation-Cache-Implementation.md
  PRD-B-1056-CAG-Inspired-Performance-Enhancements.md
  PRD-B-1057-Cursor-Agent-Integration.md
  Task-List-B-032-Memory-Context-System-Architecture-Research.md
  Task-List-B-1054-Generation-Cache-Implementation.md
  Task-List-B-1056-CAG-Inspired-Performance-Enhancements.md
Due: conflict-check, markdown-validation, timestamp-update

feat(scripts): add comprehensive system components and monitoring infrastructure
  scripts/advanced_analytics_system.py
  scripts/cache_invalidation_integration.py
  scripts/cache_invalidation_system.py
  scripts/cache_performance_monitoring.py
  scripts/comprehensive_system_monitor.py
  scripts/comprehensive_testing_suite.py
  scripts/create_episodic_logs_table.sql
  scripts/end_to_end_system_validation.py
  scripts/generation_cache_schema_migration.py
  scripts/ltst_memory_integration.py
  scripts/model_adaptation_framework.py
  scripts/overflow_handler.py
  scripts/performance_monitor.py
  scripts/postgresql_cache_service.py
  scripts/production_deployment_validation.py
  scripts/resilience_system.py
  scripts/similarity_scoring_algorithms.py
Due: conflict-check, bandit-security-scan

chore(artifacts): add execution artifacts, PRDs, and benchmark results
  artifacts/execution/Process-Task-List-B-1055-Deep-Research-Agent-Integration.md
  artifacts/maintenance.out
  artifacts/prds/PRD-B-1055-Deep-Research-Agent-Integration.md
  artifacts/task-lists/Task-List-B-1055-Deep-Research-Agent-Integration.md
  benchmark_results/comprehensive_phase3_benchmark.md
  benchmark_results/detailed_analysis_phase3_2.md
  benchmark_results/proof_of_concept_validation.md
  benchmark_results/task_5_2_comprehensive_validation.md
Due: conflict-check, markdown-validation, timestamp-update

B-1045: RAGChecker Dynamic-K Evidence Selection & Claim Binding Breakthrough
  .cursor/rules/ragchecker-baseline.cursorrules
  .github/workflows/ragchecker-evaluation.yml
  COMPREHENSIVE_RAGCHECKER_EVALUATION_REPORT.md
  config/retrieval.yaml
  metrics/baseline_evaluations/BASELINE_LOCKED_20250901.md
  metrics/baseline_evaluations/TUNED_BASELINE_20250902.md
  scripts/bedrock_client.py
  scripts/metrics_guard.py
  scripts/ragchecker_official_evaluation.py
  scripts/ragchecker_performance_monitor.py
  scripts/run_bedrock_eval_direct.py
  scripts/run_eval.py
  scripts/test_enhanced_ragchecker.py
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

B-1048: DSPy Role Integration with Vector-Based System Mapping
  003_process-task-list-B-1048-DSPy-Role-Integration-with-Vector-Based-System-Mapping.md
  dspy-rag-system/src/dspy_modules/rag_pipeline.py
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

Documentation: Core 00-12 Updates Reflecting Recent Breakthrough Work
  .cursorrules
  100_memory/100_cursor-memory-context.md
  400_guides/400_01_memory-system-architecture.md
  400_guides/400_03_system-overview-and-architecture.md
  400_guides/400_09_ai-frameworks-dspy.md
  400_guides/400_11_performance-optimization.md
Due: conflict-check, markdown-validation, timestamp-update

B-1059: Retrieval Tuning Protocol Implementation
  000_core/005_rag-tuning-protocol.md
  000_core/PRD_B-1059_retrieval-tuning-protocol.md
  000_core/PROCESS_TASKS_B-1059_retrieval-tuning-protocol.md
  000_core/TASK_GENERATION_B-1059_retrieval-tuning-protocol.md
  scripts/test_retrieval_system.py
  scripts/tune_retrieval.py
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

B-1054 & B-1009: Task Processing Updates - Generation Cache & AsyncIO Scribe Enhancement
  003_process-task-list-B-1009-AsyncIO-Scribe-Enhancement.md
  003_process-task-list-B-1054-Generation-Cache-Implementation.md
Due: conflict-check, markdown-validation, timestamp-update

Planning: New PRDs and Backlog Updates for Next Development Phase
  000_core/000_backlog.md
  000_core/004_development-roadmap.md
  000_core/004_development-roadmap.md.backup
  PRD-B-1060-Academic-Citation-Quality-Gates.md
  PRD-B-1061-Memory-System-Integration.md
Due: conflict-check, markdown-validation, timestamp-update

Infrastructure: Supporting Scripts and Utilities
  artifacts/maintenance.out
  scripts/bedrock_openai_shim.py
  scripts/index_python_docstrings.py
  scripts/operational_runbooks.py
  src/retrieval/fusion.py
  src/retrieval/intent_router.py
  src/retrieval/memory_integration.py
  src/retrieval/packer.py
  src/retrieval/prefilter.py
  src/retrieval/quality_gates.py
  src/retrieval/reranker.py
  src/retrieval/robustness_checks.py
  src/retrieval/test_hardening.py
Due: conflict-check, bandit-security-scan

feat: Enhanced handoff workflow system for clean chat pickup
  100_memory/100_cursor-memory-context.md
  scripts/create_backlog_item.py
  scripts/extract_context.py
  scripts/generate_prd.py
  scripts/workflow_orchestrator.py
  src/schemas/models.py
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

🚀 Implement Phase 2: Multi-Hop & Answer Planning
  config/retrieval.yaml
  scripts/phase2_demo.py
  src/rag/phase2_integration.py
  src/retrieval/multihop_planner.py
Due: conflict-check, bandit-security-scan

🚀 Implement Phase 1.5: Freshness & Intent-Aware Policies
  config/retrieval.yaml
  scripts/phase15_demo.py
  src/retrieval/freshness_enhancer.py
  src/retrieval/intent_router.py
Due: conflict-check, bandit-security-scan

🚀 Phase 3: Domain Tuning Implementation Complete
  .vscode/settings.json
  PHASE3_IMPLEMENTATION.md
  README.md
  dspy-rag-system/src/dspy_modules/document_processor.py
  dspy-rag-system/src/dspy_modules/enhanced_answer_generator.py
  dspy-rag-system/src/dspy_modules/retrieval_pipeline.py
  dspy-rag-system/src/utils/smart_chunker.py
  scripts/bedrock_client.py
  scripts/cursor_memory_rehydrate.py
  scripts/healthcheck_db.py
  scripts/phase3_demo.py
  scripts/rag_benchmark_comparison.py
  scripts/ragchecker_enhanced_evaluation.py
  scripts/ragchecker_official_evaluation.py
  src/common/cache_separation_manager.py
  src/common/role_guc_manager.py
  src/common/workload_isolation_orchestrator.py
  src/rag/phase3_integration.py
  src/training/domain_tuning_pipeline.py
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

🚀 Phase 4: Uncertainty, Calibration & Feedback Implementation Complete
  PHASE4_IMPLEMENTATION.md
  README.md
  scripts/phase4_demo.py
  src/rag/phase4_integration.py
  src/uncertainty/confidence_calibration.py
  src/uncertainty/feedback_loops.py
  src/uncertainty/selective_answering.py
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

docs: consolidate standalone guides into 00-12 core structure
  100_memory/100_backlog-guide.md
  100_memory/100_communication-patterns-guide.md
  100_memory/100_dspy-role-communication-guide.md
  100_memory/100_evidence-based-optimization-guide.md
  100_memory/100_role-system-alignment-guide.md
  100_memory/100_technical-artifacts-integration-guide.md
  300_experiments/300_testing-infrastructure-guide.md
  400_guides/400_01_memory-system-architecture.md
  400_guides/400_03_system-overview-and-architecture.md
  400_guides/400_04_development-workflow-and-standards.md
  400_guides/400_06_backlog-management-priorities.md
  400_guides/400_09_ai-frameworks-dspy.md
  400_guides/400_11_performance-optimization.md
  400_guides/400_ragchecker_pydantic_migration_guide.md
Due: conflict-check, markdown-validation, timestamp-update

feat: implement Query Pattern Knowledge Graph system
  dspy-rag-system/config/database/query_pattern_schema_extensions.sql
  dspy-rag-system/src/utils/query_pattern_analyzer.py
  dspy-rag-system/src/utils/query_pattern_knowledge_graph.py
  dspy-rag-system/src/utils/query_predictor.py
  dspy-rag-system/src/utils/query_vector_analyzer.py
  scripts/migrate_query_pattern_schema.py
Due: conflict-check, bandit-security-scan
