Repository TheMonk2121/ai-dev-tasks: changes, and which pre-commit hooks are due for each by the changed paths.
All: json-syntax-check, conflict-check, bandit-security-scan, markdown-validation, timestamp-update, evals-docs-generate

json-syntax-check:
  name: JSON Syntax Check
  entry: python -m json.tool
  language: system
  pass_filenames: true
  stages:
  - pre-commit

conflict-check:
  name: Conflict Check
  entry: bash scripts/hook_timer.sh
  args:
  - bash
  - -c
  - git grep -nE '^(<<<<<<< |======= |>>>>>>> )' || exit 0
  language: system
  pass_filenames: false
  description: Check for merge conflicts using simple git grep

bandit-security-scan:
  name: Bandit Security Scan
  entry: bash scripts/hook_timer.sh
  args:
  - bandit
  - -q
  - --severity-level
  - medium
  - --exit-zero
  language: system
  pass_filenames: true
  description: Run Bandit on staged Python files using .bandit config with medium severity

markdown-validation:
  name: Markdown Validation
  entry: bash scripts/hook_timer.sh
  args:
  - bash
  - scripts/simple_doc_validation.sh
  language: system
  pass_filenames: false
  description: 'Validate markdown files for basic structure and broken links
  
    '

timestamp-update:
  name: Auto Update Documentation Timestamps
  entry: bash scripts/hook_timer.sh
  args:
  - uv
  - run
  - python
  - scripts/auto_update_timestamps.py
  language: system
  pass_filenames: false
  description: 'Automatically update Last Updated timestamps in documentation files
  
    '

evals-docs-generate:
  name: Rebuild eval docs and block if stale (evals_300 only)
  entry: bash scripts/hook_timer.sh
  args:
  - bash
  - -c
  - 'uv run python -m evals_300.tools.gen && \ git diff --quiet -- evals_300/_generated || (echo "Evals docs stale. Run gen." && exit 1)
  
    '
  language: system
  pass_filenames: false
  ...

fix: resolve type safety issues in retrieval system
  src/retrieval/cross_encoder_client.py
  src/retrieval/deduplication.py
  src/retrieval/freshness_enhancer.py
  src/retrieval/memory_integration.py
  src/retrieval/multihop_planner.py
  src/retrieval/prefilter.py
  src/retrieval/test_hardening.py
Due: conflict-check, bandit-security-scan

fix: resolve type safety issues in evaluation and flows
  src/evaluation/ragchecker_official_impl.py
  src/flows/qa_graph.py
  src/graphs/eval_graph.py
  src/schemas/settings.py
Due: conflict-check, bandit-security-scan

fix: resolve type safety issues in PocketFlow and uncertainty
  src/pocketflow/integration.py
  src/pocketflow/nodes.py
  src/uncertainty/selective_answering.py
Due: conflict-check, bandit-security-scan

fix: resolve type safety issues in evaluation scripts
  evals/scripts/eval/eval_faithfulness.py
  evals/scripts/eval/eval_retrieval.py
  evals/scripts/evaluation/core/production_eval_helpers.py
  evals/scripts/evaluation/core/production_evaluation.py
  evals/scripts/evaluation/ragchecker_pipeline_governance.py
Due: conflict-check, bandit-security-scan

fix: resolve type safety issues in memory and MCP server
  100_memory/100_cursor-memory-context.md
  scripts/utilities/memory/mcp_memory_server.py
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

test: update test suite for type safety improvements
  tests/evaluation/test_canonical_evaluator.py
  tests/evaluation/test_main_wrapper.py
  tests/factories.py
  tests/implementation/run_real_database_tests.py
  tests/implementation/test_dspy_retriever_real.py
  tests/implementation/test_mcp_memory_server_real.py
  tests/implementation/test_workload_isolation_real.py
  tests/integration/run_real_database_tests.py
  tests/integration/test_database_connection_patterns.py
  tests/integration/test_dspy_retriever_real.py
  tests/integration/test_mcp_memory_server_real.py
  tests/integration/test_workload_isolation_real.py
  tests/mock/test_cursor_realtime_monitor.py
  tests/mock/test_cursor_working_integration.py
  tests/property/_regression_capture.py
  tests/property/test_reranker_env_props.py
  tests/property/test_reranker_type_invariants_props.py
  tests/property/test_retrieval_comprehensive_props.py
  tests/property/test_retrieval_props.py
  tests/property/test_schema_type_invariants_props.py
  tests/property/test_settings_props.py
  tests/property/test_sql_props.py
  tests/property/test_uncertainty_props.py
  tests/test_run_eval_graph.py
Due: conflict-check, bandit-security-scan

docs: add research notebooks and update documentation
  400_guides/400_12_advanced-configurations.md
  500_research/5_levels_of_text_splitting.ipynb
  evals/notebooks/evaluation_analysis.ipynb
Due: conflict-check, markdown-validation, timestamp-update

metrics: update DSN audit data
  metrics/dsn_audit.jsonl
Due: none

fix: update evaluation analysis notebook
  evals/notebooks/evaluation_analysis.ipynb
Due: none

feat: centralize retrieval configuration with typed config loader
  400_guides/400_11_performance-optimization.md
  400_guides/400_12_advanced-configurations.md
  evals/notebooks/evaluation_analysis.ipynb
  evals/scripts/evaluation/core/production_eval_helpers.py
  evals/scripts/evaluation/core/production_evaluation.py
  evals/scripts/evaluation/tune_retrieval.py
  evals/stable_build/config/retrieval_wide_search.yaml
  metrics/dsn_audit.jsonl
  metrics/parameter_tuning/manifest.jsonl
  metrics/tuning_runs/20250930_032223/run_manifest.jsonl
  metrics/tuning_runs/20250930_034507/run_manifest.jsonl
  metrics/tuning_runs/20250930_041058/run_manifest.jsonl
  metrics/tuning_runs/20250930_041058/trial_001/retrieval_config.yaml
  metrics/tuning_runs/20250930_041058/trial_002/retrieval_config.yaml
  metrics/tuning_runs/20250930_041058/trial_003/retrieval_config.yaml
  metrics/tuning_runs/20250930_041058/trial_004/retrieval_config.yaml
  metrics/tuning_runs/20250930_041058/trial_005/retrieval_config.yaml
  scripts/evaluation/profiles/gold.py
  src/dspy_modules/dspy_reader_program.py
  src/dspy_modules/reader/program.py
  src/dspy_modules/retriever/limits.py
  src/dspy_modules/retriever/pg.py
  src/rag/reranker_env.py
  src/retrieval/advanced_retriever.py
  src/retrieval/config_loader.py
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

feat: implement guide-aware heuristics for improved RAG performance
  evals/scripts/evaluation/dspy_evaluator.py
  metrics/dsn_audit.jsonl
  src/dspy_modules/dspy_reader_program.py
  src/dspy_modules/retriever/pg.py
  src/dspy_modules/retriever/query_rewrite.py
Due: conflict-check, bandit-security-scan

Path conditions:
  json-syntax-check: any of: \\.json$
  conflict-check: any of: \.(md|py|txt|sh|yaml|yml|json)$
  bandit-security-scan: any of: \.py$
  markdown-validation: any of: \.md$
  timestamp-update: any of: \.md$
  evals-docs-generate: any of: ^evals_300/(ssot/|tools/|ssot/templates/)|
^configs/evals_layers/|
^metrics/latest/metrics\.json$

