Repository TheMonk2121/ai-dev-tasks: changes, and which pre-commit hooks are due for each by the changed paths.
All: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

Path conditions:
  conflict-check: any of: \.(md|py|txt|sh|yaml|yml|json)$
  bandit-security-scan: any of: \.py$
  markdown-validation: any of: \.md$
  timestamp-update: any of: \.md$

chore: update configuration and environment management
  .vscode/settings.json
  artifacts/maintenance.out
  constitution_violations.jsonl
  scripts/collect_agent_feedback.py
  scripts/dead_code_scanner.py
  scripts/metrics_guard.py
  scripts/prime_cursor_chat.py
  scripts/quick_start_enhanced_bedrock.sh
Due: conflict-check, bandit-security-scan

feat: Implement RAG Pipeline Governance System with Semantic Process Augmentation
  100_memory/100_cursor-memory-context.md
  300_experiments/300_rag_pipeline_governance.py
  400_guides/400_11_performance-optimization.md
  config/rag_pipeline_governance.json
  scripts/ragchecker_governance_integration.py
  scripts/ragchecker_pipeline_governance.py
  scripts/run_ragchecker_with_governance.py
  scripts/test_governance_simple.py
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

feat: Add Research Paper and Additional Semantic Process Augmentation Systems
  300_experiments/300_augmentation_paper_content.txt
  300_experiments/300_augmentation_semantic_processes_deep_learning.pdf
  300_experiments/300_enhanced_query_pattern_graph.py
  300_experiments/300_final_integration_verification.md
  300_experiments/300_implementation_summary.md
  300_experiments/300_rag_pipeline_governance_integration_summary.md
  300_experiments/300_sop_engine.py
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

feat: migrate to UV package manager for faster dependency management
  .github/workflows/deep-audit.yml
  .github/workflows/eval.yml
  .github/workflows/maintenance-validation.yml
  .github/workflows/quick-check.yml
  .github/workflows/ragchecker-evaluation.yml
  install_dependencies.sh
  pyproject.toml
  requirements-uv.txt
  scripts/uv_dependency_manager.py
  scripts/uv_export_requirements.py
  scripts/uv_performance_monitor.py
  scripts/uv_team_onboarding.py
  scripts/uv_workflow_optimizer.py
  scripts/uvx_tools.sh
  uv.lock
  uv_aliases.sh
Due: conflict-check, bandit-security-scan

docs: add comprehensive entry point documentation for agents and evaluations
  000_core/000_agent-entry-point.md
  000_core/000_evaluation-system-entry-point.md
  000_core/README.md
  400_guides/400_canonical-evaluation-sop.md
  400_guides/400_guide-index.md
  README.md
  RUN_THE_EVALS_START_HERE.md
  START_HERE_FOR_AGENTS.md
Due: conflict-check, markdown-validation, timestamp-update

feat: enhance memory system with episodic memory and UV integration
  100_memory/100_cursor-memory-context.md
  EPISODIC_MEMORY_PHASE1_COMPLETION.md
  EPISODIC_MEMORY_PHASE2_COMPLETION.md
  EPISODIC_MEMORY_PHASE3_COMPLETION.md
  MEMORY_SYSTEMS_UV_UPDATE.md
  UV_MIGRATION_COMPLETE.md
  UV_MIGRATION_SUMMARY.md
  UV_PHASE4_COMPLETION_SUMMARY.md
  VENV_MAPPING_VERIFICATION.md
  dspy-rag-system/config/database/episodic_reflections_migration.sql
  dspy-rag-system/src/utils/episodic_reflection_store.py
  dspy-rag-system/tests/test_episodic_reflection_store.py
  dspy-rag-system/tests/test_rag_eval_fallback.py
  scripts/episodic_memory_integration.py
  scripts/episodic_memory_mock.py
  scripts/episodic_memory_system.py
  scripts/episodic_workflow_hook.py
  scripts/episodic_workflow_integration.py
  scripts/ragchecker_episodic_integration.py
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

feat: enhance evaluation system with improved RAGChecker and health monitoring
  300_experiments/PRECISION_CLIMB_V2_IMPLEMENTATION_SUMMARY.md
  scripts/cursor_memory_rehydrate.py
  scripts/enhanced_bedrock_queue_client.py
  scripts/memory_healthcheck.py
  scripts/prime_cursor_chat.py
  scripts/ragchecker_official_evaluation.py
  scripts/run_final_precision_push.sh
  scripts/run_final_ragas_push.sh
  scripts/run_limit_inspired_evaluation.sh
  scripts/run_precision_climb_v2.sh
  scripts/run_precision_fallback_push.sh
  scripts/run_precision_lift_pack.sh
  scripts/run_precision_optimization_evaluation.sh
  scripts/run_precision_push_final.sh
  scripts/run_precision_recovery_final.sh
  scripts/run_precision_recovery_step1.sh
  scripts/run_precision_recovery_step2.sh
  scripts/run_precision_recovery_step3.sh
  scripts/run_production_ragas.sh
  scripts/run_ragas_competitive_evaluation.sh
  scripts/run_ragchecker_multikey.sh
  scripts/run_ragchecker_optimized_single.sh
  scripts/run_ragchecker_queue_fast.sh
  scripts/run_ragchecker_single_optimized.sh
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

feat: add comprehensive development tooling and utility scripts
  .githooks/README.md
  .githooks/commit-msg
  .githooks/post-commit
  .githooks/pre-commit
  .pre-commit-config.yml
  .vscode/settings.json
  bootstrap_hooks.sh
  configs/stable_bedrock.env
  env.ai-dev-tasks
  optimal_phase2_eval.sh
  pyrightconfig.json
  run_evals.sh
  scripts/README_venv_manager.md
  scripts/agent_evaluation_onboarding.py
  scripts/baseline_version_manager.py
  scripts/daily_maintenance.py
  scripts/db_set_search_path.sh
  scripts/dev_setup.sh
  scripts/dynamic_few_shot_injector.py
  scripts/heuristics_pack_generator.py
  scripts/migrations/add_content_tsv.sql
  scripts/optimal_phase2_eval.sh
  scripts/optimal_ragas_eval.sh
  scripts/perf_check.sh
  scripts/quick_test.sh
  scripts/run_add_content_tsv.py
  scripts/run_ragchecker_smoke_test.sh
  scripts/verify_schema_and_indexes.py
  scripts/verify_venv_mapping.py
  scripts/weekly_optimization.py
  setup_shell_integration.sh
  throttle_free_eval.sh
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

Schema-safe retrieval + eval fallback + DB tools
  .pre-commit-config.yaml
  dspy-rag-system/src/utils/eval_discovery.py
  scripts/enhanced_memory_orchestrator.py
  scripts/enhanced_memory_orchestrator_with_heuristics.py
Due: conflict-check, bandit-security-scan

feat: apply litellm compatibility shim to all DSPy modules
  dspy-rag-system/src/dspy_modules/documentation_retrieval.py
  dspy-rag-system/src/dspy_modules/enhanced_rag_system.py
  dspy-rag-system/src/dspy_modules/model_switcher.py
  dspy-rag-system/src/dspy_modules/rag_pipeline.py
  dspy-rag-system/src/dspy_modules/rag_system.py
  dspy-rag-system/src/dspy_modules/role_refinement.py
  scripts/demos/demo_assertion_framework.py
  scripts/demos/demo_complete_dspy_v2_system.py
  scripts/demos/demo_four_part_optimization_loop.py
Due: conflict-check, bandit-security-scan

feat: complete database migration with comprehensive validation
  run_evals.sh
  scripts/db_readiness_check.py
Due: conflict-check, bandit-security-scan

fix: resolve CI workflow issues
  .github/workflows/deep-audit.yml
  .github/workflows/eval.yml
  .github/workflows/maintenance-validation.yml
  .github/workflows/quick-check.yml
  .github/workflows/ragchecker-evaluation.yml
Due: conflict-check

fix: resolve remaining CI workflow issues
  .github/workflows/deep-audit.yml
  .github/workflows/maintenance-validation.yml
  .github/workflows/quick-check.yml
Due: conflict-check

fix: add GitHub Actions permissions for PR commenting
  .github/workflows/maintenance-validation.yml
Due: conflict-check

fix: resolve broken documentation links
  000_core/000_backlog.md
  000_core/004_development-roadmap.md
  000_core/README.md
  dspy-rag-system/README.md
  dspy-rag-system/docs/troubleshooting-faq.md
Due: conflict-check, markdown-validation, timestamp-update

fix: resolve pyright and Python command execution in CI
  .github/workflows/eval.yml
Due: conflict-check

fix: skip Pyright type checking for database migration
  .github/workflows/eval.yml
Due: conflict-check

fix: handle missing smoke-test-results artifact gracefully
  .github/workflows/eval.yml
  pyproject.toml
Due: conflict-check

fix: resolve RAGChecker evaluation workflow issues
  .github/workflows/ragchecker-evaluation.yml
Due: conflict-check

fix: resolve RAGChecker LLM integration fallback mode
  configs/stable_bedrock.env
  throttle_free_eval.sh
Due: conflict-check

RAGChecker: harden CLI path to prevent hangs
  scripts/ragchecker_official_evaluation.py
Due: conflict-check, bandit-security-scan

feat: implement CLI timeout protection and evaluation system robustness
  .pre-commit-config.yml
  scripts/optimal_ragas_eval.sh
  scripts/precision_push_final_config.py
  scripts/ragchecker_final_ragas_push_evaluation.py
  scripts/ragchecker_precision_climb_v2_evaluation.py
  scripts/ragchecker_production_evaluation.py
  scripts/run_bedrock_eval_direct.py
  scripts/run_final_precision_push.sh
  scripts/run_limit_inspired_evaluation.sh
  scripts/run_precision_lift_pack.sh
  scripts/run_precision_recovery_final.sh
  scripts/run_precision_recovery_step1.sh
  scripts/run_precision_recovery_step2.sh
  scripts/run_precision_recovery_step3.sh
  scripts/run_ragchecker_smoke_test.sh
  throttle_free_eval.sh
Due: conflict-check, bandit-security-scan

feat: enhance DSPy RAG system utilities and context management
  dspy-rag-system/src/utils/context_merger.py
  dspy-rag-system/src/utils/conversation_storage.py
  dspy-rag-system/src/utils/database_resilience.py
  dspy-rag-system/src/utils/episodic_reflection_store.py
  dspy-rag-system/src/utils/retry_wrapper.py
  scripts/cross_encoder_reranker.py
  scripts/few_shot_integration.py
  scripts/update_cursor_memory.py
Due: conflict-check, bandit-security-scan

chore: update configuration management and environment setup
  .github/workflows/maintenance-validation.yml
  .github/workflows/quick-check.yml
  .github/workflows/ragchecker-evaluation.yml
  .vscode/settings.json
  env.ai-dev-tasks
Due: conflict-check

docs: update core documentation and project status
  000_core/000_agent-entry-point.md
  000_core/000_backlog.md
  000_core/000_evaluation-system-entry-point.md
  100_memory/100_cursor-memory-context.md
  START_HERE_FOR_AGENTS.md
  metrics/baseline_evaluations/README.md
Due: conflict-check, markdown-validation, timestamp-update

chore: update project dependencies and configuration
  pyproject.toml
  uv.lock
Due: none

chore: add remaining system files and metrics
  .mcp-server.err
  .mcp-server.out
  scripts/metrics/derived_configs/20250906_153023_precision_elevated_candidate.env
  scripts/metrics/derived_configs/20250906_153023_precision_elevated_decision_docket.md
  scripts/metrics/derived_configs/20250906_153347_precision_elevated_candidate.env
  scripts/metrics/derived_configs/20250906_153347_precision_elevated_decision_docket.md
  scripts/metrics/derived_configs/20250906_153440_precision_elevated_candidate.env
  scripts/metrics/derived_configs/20250906_153440_precision_elevated_decision_docket.md
  scripts/metrics/derived_configs/20250906_153947_precision_elevated_candidate.env
  scripts/metrics/derived_configs/20250906_153947_precision_elevated_decision_docket.md
  scripts/metrics/derived_configs/20250906_153951_precision_elevated_candidate.env
  scripts/metrics/derived_configs/20250906_153951_precision_elevated_decision_docket.md
  scripts/metrics/derived_configs/20250906_154045_precision_elevated_candidate.env
  scripts/metrics/derived_configs/20250906_154045_precision_elevated_decision_docket.md
  scripts/metrics/derived_configs/20250906_154112_precision_elevated_candidate.env
  scripts/metrics/derived_configs/20250906_154112_precision_elevated_decision_docket.md
  scripts/metrics/derived_configs/20250906_154139_precision_elevated_candidate.env
  scripts/metrics/derived_configs/20250906_154139_precision_elevated_decision_docket.md
  scripts/preflight_env_diff.sh
Due: conflict-check, markdown-validation, timestamp-update

feat: Transition evaluation system from synthetic to real DSPy RAG data
  000_core/000_backlog.md
  EVALUATION_STATUS.md
  metrics/baseline_evaluations/EVALUATION_STATUS.md
  metrics/lessons/lessons.jsonl
  scripts/ragchecker_official_evaluation.py
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

feat: Enhanced DSPy RAG system with real data support and advanced chunking
  dspy-rag-system/scripts/ingest_enhanced.py
  dspy-rag-system/scripts/ingest_observability.py
  dspy-rag-system/scripts/run_chunk_experiments.py
  dspy-rag-system/scripts/test_enhanced_chunking.py
  dspy-rag-system/src/dspy_modules/rag_pipeline.py
  dspy-rag-system/src/dspy_modules/vector_store.py
  dspy-rag-system/src/utils/enhanced_chunking.py
Due: conflict-check, bandit-security-scan

feat: Add comprehensive configuration system for real data evaluation
  configs/real_rag_evaluation.env
  configs/recall_path_a.env
  configs/recall_path_a_fusion.env
  configs/recall_path_b.env
  configs/recall_path_c.env
  configs/recall_path_d.env
Due: none

feat: Add comprehensive testing infrastructure for real data evaluation
  datasets/eval_cases.jsonl
  scripts/run_recall_testing_grid.sh
  scripts/safe_pytorch_import.py
  scripts/verify_real_rag_parity.py
Due: conflict-check, bandit-security-scan
