Repository TheMonk2121/ai-dev-tasks: changes, and which pre-commit hooks are due for each by the changed paths.
All: json-syntax-check, conflict-check, bandit-security-scan, markdown-validation, timestamp-update, evals-docs-generate

json-syntax-check:
  name: JSON Syntax Check
  entry: python -m json.tool
  language: system
  pass_filenames: true
  stages:
  - pre-commit

conflict-check:
  name: Conflict Check
  entry: bash scripts/hook_timer.sh
  args:
  - bash
  - -c
  - git grep -nE '^(<<<<<<< |======= |>>>>>>> )' || exit 0
  language: system
  pass_filenames: false
  description: Check for merge conflicts using simple git grep

bandit-security-scan:
  name: Bandit Security Scan
  entry: bash scripts/hook_timer.sh
  args:
  - bandit
  - -q
  - --severity-level
  - medium
  - --exit-zero
  language: system
  pass_filenames: true
  description: Run Bandit on staged Python files using .bandit config with medium severity

markdown-validation:
  name: Markdown Validation
  entry: bash scripts/hook_timer.sh
  args:
  - bash
  - scripts/simple_doc_validation.sh
  language: system
  pass_filenames: false
  description: 'Validate markdown files for basic structure and broken links
  
    '

timestamp-update:
  name: Auto Update Documentation Timestamps
  entry: bash scripts/hook_timer.sh
  args:
  - uv
  - run
  - python
  - scripts/auto_update_timestamps.py
  language: system
  pass_filenames: false
  description: 'Automatically update Last Updated timestamps in documentation files
  
    '

evals-docs-generate:
  name: Rebuild eval docs and block if stale (evals_300 only)
  entry: bash scripts/hook_timer.sh
  args:
  - bash
  - -c
  - 'uv run python -m evals_300.tools.gen && \ git diff --quiet -- evals_300/_generated || (echo "Evals docs stale. Run gen." && exit 1)
  
    '
  language: system
  pass_filenames: false
  ...

memory+cursor: improve auto-capture and cursor integrations
  scripts/memory/enhanced_memory_orchestrator_with_heuristics.py
  scripts/memory/setup_auto_capture.py
  scripts/memory/simple_auto_capture.py
  scripts/utilities/cursor_auto_capture.py
  scripts/utilities/cursor_daemon_capture.py
  scripts/utilities/cursor_extension_integration.py
  scripts/utilities/cursor_file_trigger.py
  scripts/utilities/cursor_mcp_capture.py
  scripts/utilities/cursor_query_storage.py
  scripts/utilities/cursor_realtime_capture.py
  scripts/utilities/cursor_unified_integration.py
  scripts/utilities/cursor_working_integration.py
Due: conflict-check, bandit-security-scan

core: settings, db, and validation refinements
  src/common/db_dsn.py
  src/common/db_sync.py
  src/common/embedding_validation.py
  src/common/workload_isolation_orchestrator.py
  src/config/settings.py
  src/schemas/settings.py
  src/schemas/validation.py
Due: conflict-check, bandit-security-scan

dspy+retrieval: reader/retriever updates and reranker config adjustments
  src/dspy_modules/reader/entrypoint.py
  src/dspy_modules/reader/program.py
  src/dspy_modules/retriever/pg.py
  src/dspy_modules/retriever/query_rewrite.py
  src/dspy_modules/retriever/reranker_config.py
  src/retrieval/packer.py
  src/retrieval/reranker.py
Due: conflict-check, bandit-security-scan

llm+monitoring: tokenizer improvements and metrics endpoints updates
  src/llm/script_aware_tokenizer.py
  src/llm/token_count.py
  src/monitoring/health_endpoints.py
  src/monitoring/maintenance_metrics.py
  src/monitoring/metrics.py
  src/monitoring/production_monitor.py
Due: conflict-check, bandit-security-scan

utils: logging, telemetry, ndarray and prompt utility fixes
  src/utils/config_logger.py
  src/utils/db_telemetry.py
  src/utils/logger.py
  src/utils/prompt_sanitizer.py
  src/utils/pyd_ndarray.py
  src/utils/retry_wrapper.py
Due: conflict-check, bandit-security-scan

ci+cursor: add supplemental workflows and Cursor rule assets
  .cursor/codebase-patterns.md
  .cursor/global-settings.md
  .cursor/rules/ai-development.mdc
  .cursor/rules/ai_development_patterns.mdc
  .cursor/rules/code-quality.mdc
  .cursor/rules/database-patterns.mdc
  .cursor/rules/evaluation_patterns.mdc
  .cursor/rules/framework_specific.mdc
  .cursor/rules/github-actions.mdc
  .cursor/rules/maintenance.mdc
  .cursor/rules/typing-standards.mdc
  .github/workflows/ci-import-validation.yml
  .github/workflows/ci-type-error-checks.yml
Due: conflict-check, markdown-validation, timestamp-update

Remove mypy from pre-commit; keep Ruff + ruff-format only
  .pre-commit-config.yaml
  300_evals/README.md
  400_guides/400_11_performance-optimization.md
  pytest.ini
  src/monitoring/metrics.py
  src/utils/config_logger.py
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

chore(archive): move broken utilities to 600_archives/600_deprecated to restore lintability (phase 1)
  600_archives/600_deprecated/fix_psycopg3_type_errors.py
  600_archives/600_deprecated/setup_cursor_global_rules.py
  600_archives/600_deprecated/simple_example.py
Due: conflict-check, bandit-security-scan

fix(http): replace placeholders with real httpx calls; add typing import (phase 2)
  scripts/utilities/http_client.py
  scripts/utilities/http_migration.py
  scripts/utils/http_client.py
Due: conflict-check, bandit-security-scan

fix(retrieval): make advanced_retriever.py parseable; safe defaults and row handling (phase 3)
  src/retrieval/advanced_retriever.py
Due: conflict-check, bandit-security-scan

docs(rules): add correct eval commands (real/gold/mock) and deprecate legacy paths
  .cursorrules
  600_archives/600_deprecated/legacy_configs/ragchecker-baseline.cursorrules
Due: none

fix(evals): replace relative import with absolute evals_300.tools.run
  scripts/evaluation/ragchecker_official_evaluation.py
Due: conflict-check, bandit-security-scan

fix(evals): import CleanDSPyEvaluator from evals package; remove broken placeholders
  scripts/evaluation/clean_dspy_evaluator.py
Due: conflict-check, bandit-security-scan

fix(evals): clean placeholders and syntax in evaluation_pipeline_graph; format
  evals/scripts/evaluation/evaluation_pipeline_graph.py
Due: conflict-check, bandit-security-scan

fix(evals): add minimal import-safe CleanDSPyEvaluator to unblock smoke runs
  evals/scripts/evaluation/clean_dspy_evaluator.py
Due: conflict-check, bandit-security-scan

Switch scripts/ingest_code.py to psycopg3 dict_row cursor; drop psycopg.extras imports
  scripts/ingest_code.py
Due: conflict-check, bandit-security-scan

refactor: restructure evaluation system with profile-based dispatch
  scripts/evaluation/__main__.py
  scripts/evaluation/clean_dspy_evaluator.py
  scripts/evaluation/core/__init__.py
  scripts/evaluation/profiles/__init__.py
  scripts/evaluation/profiles/gold.py
  scripts/evaluation/profiles/mock.py
  scripts/evaluation/profiles/real.py
  scripts/evaluation/ragchecker_official_evaluation.py
Due: conflict-check, bandit-security-scan

cleanup: archive deprecated evaluation scripts and tools
  600_archives/600_deprecated/ci_gate_reader.py
  600_archives/600_deprecated/gate_new_cases.py
  600_archives/600_deprecated/reader_debug_ab.py
  600_archives/600_deprecated/test_reranker_integration.py
  evals/stable_build/modules/gen.py
  evals/stable_build/modules/run.py
  scripts/evaluation/core/ragchecker_official_evaluation.py
Due: conflict-check, bandit-security-scan

feat: enhance DSPy evaluator with improved functionality
  evals/scripts/evaluation/dspy_evaluator.py
  src/dspy_modules/reader/program.py
  src/dspy_modules/retriever/pg.py
  src/retrieval/advanced_retriever.py
Due: conflict-check, bandit-security-scan

config: update evaluation profiles and environment settings
  scripts/configs/profiles/gold.env
  scripts/configs/profiles/mock.env
  scripts/configs/profiles/real.env
  scripts/shell/deployment/start_mcp_server.sh
  src/rag/reranker_env.py
  src/schemas/eval.py
  src/settings.py
Due: conflict-check, bandit-security-scan

infra: improve database configuration and telemetry
  metrics/dsn_audit.jsonl
  src/common/embedding_validation.py
  src/common/psycopg3_config.py
  src/utils/db_telemetry.py
Due: conflict-check, bandit-security-scan

docs: update evaluation documentation and add Cursor commands
  .cursor/commands/eval-full-gold.md
  .cursor/commands/eval-full-real.md
  .cursor/commands/eval-smoke-gold.md
  .cursor/commands/eval-smoke-mock.md
  .cursor/commands/eval-smoke-real.md
  .cursor/commands/memory-refresh.md
  .cursor/commands/memory-remember.md
  .cursor/commands/run-gold-smoke.md
  000_core/000_evaluation-system-entry-point.md
  400_guides/400_04_development-workflow-and-standards.md
  400_guides/400_11_performance-optimization.md
  Makefile
  evals/configs/mock/README.md
  evals/data/gold/v1/gold_cases.jsonl
  evals/data/gold/v1/gold_cases_121.jsonl
  evals/data/gold/v1/local_smoke.jsonl
  evals/data/real/v1/real_cases.jsonl
  scripts/shell/setup/env.ai-dev-tasks
  scripts/shell/setup/load_persistent_config.sh
  scripts/shell/setup/load_profile.sh
  scripts/utilities/memory/mcp_memory_server.py
  scripts/utilities/prime_cursor_chat.py
  tests/evaluation/mock/test_mock_smoke.py
  tests/evaluation/test_main_wrapper.py
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

chore: update development artifacts and chat history
  .chat_history
  .cursor/rules/toolusagerules.mdc
  chat.txt
Due: conflict-check

cleanup: archive additional legacy evaluation tools
  600_archives/ssot_legacy_tools/gen.py
  600_archives/ssot_legacy_tools/ragchecker_official_evaluation.py
  600_archives/ssot_legacy_tools/run.py
  evals/scripts/evaluation/clean_dspy_evaluator.py
Due: conflict-check, bandit-security-scan

Fix evaluation system misalignments and silent failures
  000_core/001_PRD_TEMPLATE.md
  evals/scripts/evaluation/dspy_evaluator.py
  metrics/dsn_audit.jsonl
  scripts/evaluation/clean_dspy_evaluator.py
  scripts/evaluation/profiles/gold.py
  scripts/evaluation/profiles/real.py
  scripts/evaluation/ragchecker_official_evaluation.py
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

Fix silent failures in evaluation system
  600_archives/corrupted_files/ragchecker_official_evaluation.py
  600_archives/corrupted_files/synthetic_smoke_test.py
  metrics/dsn_audit.jsonl
  scripts/evaluation/profiles/gold.py
  scripts/evaluation/profiles/real.py
  scripts/evaluation/ragchecker_official_evaluation.py
Due: conflict-check, bandit-security-scan

Fix reranker model configuration
  evals/scripts/evaluation/dspy_evaluator.py
Due: conflict-check, bandit-security-scan

feat: enhance DSPy modules with improved functionality
  src/dspy_modules/dspy_reader_program.py
  src/dspy_modules/reader/span_picker.py
  src/dspy_modules/retriever/limits.py
  src/dspy_modules/retriever/query_rewrite.py
Due: conflict-check, bandit-security-scan

feat: improve evaluation system with enhanced tools
  evals/scripts/evaluation/dspy_evaluator.py
  scripts/evaluation/ragchecker_official_evaluation.py
Due: conflict-check, bandit-security-scan

feat: add code ingestion and embedding automation tools
  scripts/embed_evaluation_code.py
  scripts/evals/export.py
  scripts/evaluation/_bootstrap.py
  scripts/evaluation/_scoring.py
  scripts/ingest_code.py
  scripts/ingest_evaluation_code.py
Due: conflict-check, bandit-security-scan

feat: add evaluation manifest system
  evals/manifest.yml
Due: conflict-check

config: update reranker environment and infrastructure settings
  metrics/dsn_audit.jsonl
  scripts/shell/setup/env.ai-dev-tasks
  src/rag/reranker_env.py
Due: conflict-check, bandit-security-scan

fix: repair corrupted evaluation files with placeholder text
  evals/scripts/evaluation/day0_sanity_checklist.py
  evals/scripts/evaluation/eval_manifest_generator.py
  evals/scripts/evaluation/health_gated_evaluation.py
  evals/scripts/evaluation/performance/nightly_smoke_evaluation.py
Due: conflict-check, bandit-security-scan

fix: replace corrupted evaluation files with working versions
  evals/scripts/evaluation/eval_manifest_generator.py
  evals/scripts/evaluation/health_gated_evaluation.py
  evals/scripts/evaluation/performance/nightly_smoke_evaluation.py
  scripts/evaluation/day0_sanity_checklist.py
Due: conflict-check, bandit-security-scan

Fix GitHub Actions context issues and add validation pattern
  .github/workflows/ci-pr-quick.yml
  .github/workflows/eval.yml
  .github/workflows/ragchecker-evaluation.yml
  .github/workflows/reader-gate.yml
  .github/workflows/reranker-ablation.yml
  Makefile
  evals/data/gold/v1/gold_cases_121.jsonl
  evals/manifest.yml
  metrics/dsn_audit.jsonl
  scripts/ingest_evaluation_code.py
Due: conflict-check, bandit-security-scan

Path conditions:
  json-syntax-check: any of: \\.json$
  conflict-check: any of: \.(md|py|txt|sh|yaml|yml|json)$
  bandit-security-scan: any of: \.py$
  markdown-validation: any of: \.md$
  timestamp-update: any of: \.md$
  evals-docs-generate: any of: ^evals_300/(ssot/|tools/|ssot/templates/)|
^configs/evals_layers/|
^metrics/latest/metrics\.json$

