Repository TheMonk2121/ai-dev-tasks: changes, and which pre-commit hooks are due for each by the changed paths.
All: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

conflict-check:
  name: Conflict Check
  entry: bash scripts/hook_timer.sh
  args:
  - bash
  - -c
  - git grep -nE '^(<<<<<<< |======= |>>>>>>> )' '$@' || exit 0
  language: system
  pass_filenames: true
  description: Check for merge conflicts using simple git grep

bandit-security-scan:
  name: Bandit Security Scan
  entry: bash scripts/hook_timer.sh
  args:
  - bandit
  - -q
  - --severity-level
  - medium
  - --exit-zero
  language: system
  pass_filenames: true
  description: Run Bandit on staged Python files using .bandit config with medium severity

markdown-validation:
  name: Markdown Validation
  entry: bash scripts/hook_timer.sh
  args:
  - bash
  - scripts/simple_doc_validation.sh
  language: system
  pass_filenames: false
  description: Validate markdown files for basic structure and broken links

timestamp-update:
  name: Auto Update Documentation Timestamps
  entry: bash scripts/hook_timer.sh
  args:
  - python3
  - scripts/auto_update_timestamps.py
  language: system
  pass_filenames: false
  description: Automatically update Last Updated timestamps in documentation files

Update dependencies and environment configuration
  .envrc
  pyproject.toml
  pytest.ini
  uv.lock
Due: none

Update schemas and model implementations
  src/agents/__init__.py
  src/agents/ollama_qa.py
  src/agents/qa.py
  src/compat/schema_adapters.py
  src/evaluation/enhanced_metrics.py
  src/evaluation/unified_schemas.py
  src/flows/__init__.py
  src/flows/qa_graph.py
  src/schemas/eval.py
  src/schemas/settings.py
  src/schemas/validation.py
  src/settings.py
  tests/bench/test_ndarray_pydantic_bench.py
  tests/test_enhanced_schemas.py
  tests/test_fast_path.py
  tests/test_feature_artifacts_schema.py
  tests/test_models_and_io.py
  tests/test_ndarray_validation.py
  tests/test_retry_policy.py
  tests/test_schema_roundtrip.py
Due: conflict-check, bandit-security-scan

Add new evaluation modules and clean up legacy files
  300_evals/qa_eval.py
  300_evals/retrieval_eval.py
  evals/load_cases.py
Due: conflict-check, bandit-security-scan

Update documentation and core guides
  000_core/000_evaluation-system-entry-point.md
  INCIDENT_RESPONSE_PLAYBOOK.md
Due: conflict-check, markdown-validation, timestamp-update

Fix CI: Add missing config_loader.py and update gitignore
  .gitignore
  scripts/lib/config_loader.py
Due: conflict-check, bandit-security-scan

Fix CI test failures: Move archived tests and fix Pydantic models
  .mcp-server.err
  600_archives/test_broken_link_validation.py
  600_archives/test_case_id.py
  600_archives/test_coder_role.py
  600_archives/test_coder_role_integration.py
  600_archives/test_coder_role_performance.py
  600_archives/test_documentation_retrieval.py
  600_archives/test_fast_path.py
  600_archives/test_feature_artifacts_schema.py
  600_archives/test_ndarray_pydantic_bench.py
  600_archives/test_ndarray_validation.py
  600_archives/test_retry_policy.py
  pytest.ini
  tests/factories.py
  tests/test_factories.py
Due: conflict-check, bandit-security-scan

fix: replace deprecated typing imports with built-in types (UP035)
  scripts/cleanup_dspy_venv_references.py
  src/schemas/settings.py
  src/schemas/validation.py
Due: conflict-check, bandit-security-scan

fix: resolve commitizen CI workflow issues
  .github/workflows/commit-message-check.yml
  pyproject.toml
Due: conflict-check

fix: make commitizen CI check non-blocking with warnings
  .cz.yaml
  .github/workflows/commit-message-check.yml
  pyproject.toml
Due: conflict-check

fix: ci dependency workflow fixes
  .pre-commit-config.yml
  configs/bedrock_conservative.meta.yml
  configs/current_best.meta.yml
  configs/deterministic_evaluation.meta.yml
  configs/learned_fusion.meta.yml
  configs/precision_aggressive_debug.meta.yml
  configs/precision_evidence_filter.meta.yml
  configs/precision_final_push.meta.yml
  configs/precision_focused.meta.yml
  configs/precision_optimization_grid.meta.yml
  configs/precision_optimized_bedrock.meta.yml
  configs/precision_optimized_bedrock_correct.meta.yml
  configs/precision_outlier_focused.meta.yml
  configs/precision_percentile_mode.meta.yml
  configs/precision_push.meta.yml
  configs/real_rag_evaluation.meta.yml
  configs/recall_optimized.meta.yml
  configs/recall_optimized_bedrock.meta.yml
  configs/recall_path_a.meta.yml
  configs/recall_path_a_fusion.meta.yml
  configs/recall_path_b.meta.yml
  configs/recall_path_c.meta.yml
  configs/recall_path_d.meta.yml
  configs/repo_gold_evaluation.meta.yml
  configs/reranker_disabled.meta.yml
  configs/reranker_off.meta.yml
  configs/reranker_on.meta.yml
  configs/reranker_toggle.meta.yml
  configs/retrieval-13of13-stable.meta.yml
  configs/stable_bedrock.meta.yml
  dspy-rag-system/src/dspy_modules/retriever/pg.py
  evals/reader_gold.jsonl
  scripts/ci_gate_reader.py
  scripts/optimal_phase2_eval.sh
  scripts/run_extractive_reader.py
  src/schemas/eval.py
Due: conflict-check, bandit-security-scan

fix: robust import path resolution for CI environment
  scripts/ci_gate_reader.py
Due: conflict-check, bandit-security-scan

fix: robust import paths for additional CI scripts
  scripts/ci_gate_retrieval.py
  scripts/smoke_prefilter.py
  scripts/tiny_grid.py
Due: conflict-check, bandit-security-scan

fix: ruff UP035 import from collections.abc
  scripts/constitution_compliance_checker.py
Due: conflict-check, bandit-security-scan

fix: move dspy_modules to tracked src directory
  scripts/ci_gate_reader.py
  scripts/ci_gate_retrieval.py
  scripts/smoke_prefilter.py
  scripts/tiny_grid.py
  src/dspy_modules/dspy_reader_program.py
  src/dspy_modules/reader/__init__.py
  src/dspy_modules/reader/entrypoint.py
  src/dspy_modules/reader/program.py
  src/dspy_modules/reader/sentence_select.py
  src/dspy_modules/reader/signatures.py
  src/dspy_modules/reader/snippetizer.py
  src/dspy_modules/reader/span_picker.py
  src/dspy_modules/retriever/README_reranker.md
  src/dspy_modules/retriever/feature_schema.py
  src/dspy_modules/retriever/fusion_head.py
  src/dspy_modules/retriever/limits.py
  src/dspy_modules/retriever/pg.py
  src/dspy_modules/retriever/query_rewrite.py
  src/dspy_modules/retriever/rerank.py
  src/dspy_modules/retriever/reranker_config.py
  src/dspy_modules/retriever/reranker_torch.py
  src/dspy_modules/retriever/weights.py
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

fix: ruff import sorting (I001)
  .mcp-server.err
  300_experiments/300_dspy-v2-demo-scripts/demo_complete_dspy_v2_system.py
  300_experiments/demo_query_pattern_knowledge_graph.py
  300_experiments/demonstrate_smart_chunking.py
  300_experiments/reindex_with_smart_chunking.py
  300_experiments/test_document_processor_integration.py
  300_experiments/test_enhanced_pipeline.py
  300_experiments/test_n8n_ltst_integration.py
  300_experiments/test_predictive_intelligence.py
  300_experiments/test_quality_ltst_integration.py
  300_experiments/test_smart_chunker.py
  300_experiments/test_unified_data_pipeline.py
  300_experiments/test_ux_ltst_integration.py
  Makefile
  scripts/ablation_snapshot.py
  scripts/audit_gold_spans.py
  scripts/calibrate_answerable_threshold.py
  scripts/ci_gate_reader.py
  scripts/ci_gate_retrieval.py
  scripts/constitution_compliance_checker.py
  scripts/documentation_indexer.py
  scripts/error_handler.py
  scripts/gate_new_cases.py
  scripts/generate_reader_gold_from_db.py
  scripts/migrate_query_pattern_schema.py
  scripts/reader_debug_ab.py
  scripts/relaxed_validator.py
  scripts/run_dspy_reader.py
  scripts/run_extractive_reader.py
  scripts/smoke_prefilter.py
  scripts/tiny_grid.py
  scripts/validate_config.py
  src/dspy_modules/retriever/fusion_head.py
  src/training/domain_tuning_pipeline.py
Due: conflict-check, bandit-security-scan

fix: implement cross-encoder reranking in retrieval pipeline
  configs/reranker_on.env
  src/dspy_modules/dspy_reader_program.py
Due: conflict-check, bandit-security-scan

fix: implement best-practice cross-encoder reranking
  src/dspy_modules/dspy_reader_program.py
Due: conflict-check, bandit-security-scan

feat: add LTST memory adapter and fix import references
  .mcp-server.err
  .mcp-server.out
  300_experiments/test_dsn_integration.py
  artifacts/maintenance.out
  evals/latest_reader_metrics.json
  scripts/ci_gate_reader.py
  scripts/cursor_memory_rehydrate.py
  scripts/mcp_memory_server.py
  src/dspy_modules/dspy_reader_program.py
  src/dspy_modules/reader/entrypoint.py
  src/llm/token_count.py
  src/utils/memory_rehydrator.py
Due: conflict-check, bandit-security-scan

fix: update MCP server log files
  .mcp-server.err
  .mcp-server.out
Due: none

fix: update MCP server logs (latest activity)
  .mcp-server.err
  .mcp-server.out
Due: none

Fix dspy-rag-system import conflicts and consolidate to src/ structure
  .mcp-server.err
  .mcp-server.err.backup
  .mcp-server.out.backup
  dspy-rag-system
  dspy-rag-system/src/dspy_modules/retriever/pg.py
  install_dependencies.sh
  pyproject.toml
  scripts/48_hour_bakeoff.py
  scripts/_ragchecker_eval_impl.py
  scripts/db_smoke_check.py
  scripts/setup_db_minimal.py
  scripts/start_mcp_server.sh
  scripts/system_health_check.py
  scripts/system_monitor.py
  scripts/validate_coder_role_implementation.py
  uv.lock
Due: conflict-check, bandit-security-scan

Add essential dspy_modules to consolidated src/ structure
  .github/workflows/ci-nightly-baseline.yml
  .mcp-server.err
  .mcp-server.out
  src/common/case_id.py
  src/dspy_modules/__init__.py
  src/dspy_modules/dspy_reader_program.py
  src/dspy_modules/reader/__init__.py
  src/dspy_modules/reader/entrypoint.py
  src/dspy_modules/reader/program.py
  src/dspy_modules/reader/sentence_select.py
  src/dspy_modules/reader/signatures.py
  src/dspy_modules/reader/snippetizer.py
  src/dspy_modules/reader/span_picker.py
  src/dspy_modules/retriever/README_reranker.md
  src/dspy_modules/retriever/feature_schema.py
  src/dspy_modules/retriever/fusion_head.py
  src/dspy_modules/retriever/limits.py
  src/dspy_modules/retriever/pg.py
  src/dspy_modules/retriever/query_rewrite.py
  src/dspy_modules/retriever/rerank.py
  src/dspy_modules/retriever/reranker_config.py
  src/dspy_modules/retriever/reranker_torch.py
  src/dspy_modules/retriever/weights.py
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

Fix remaining CI issues and ensure Linux venv dependencies
  .github/workflows/ci-nightly-baseline.yml
  .github/workflows/dspy-compile.yml
  .github/workflows/ragchecker-evaluation.yml
  .mcp-server.err
  .mcp-server.out
  pyproject.toml
  src/schemas/eval.py
  src/utils/anchor_metadata_parser.py
  src/utils/memory_rehydrator.py
  src/utils/pyd_ndarray.py
  uv.lock
Due: conflict-check, bandit-security-scan

Fix CI workflow to use uv run for pyright and pytest
  .github/workflows/dry-run.yml
Due: conflict-check

Fix broken links in evaluation profiles guide
  000_core/011_evaluation-profiles-guide.md
Due: conflict-check, markdown-validation, timestamp-update

feat: add core configuration system with Pydantic validation
  .pre-commit-config.yml
  configs/base.yaml
  configs/dev.yaml
  configs/prod.yaml
  configs/test.yaml
  pyproject.toml
  src/config/__init__.py
  src/config/models.py
  src/config/resolve.py
  src/config/settings.py
  src/utils/logger.py
  src/utils/prompt_sanitizer.py
  src/utils/retry_wrapper.py
  src/utils/validator.py
  tests/test_config_settings.py
  uv.lock
Due: conflict-check, bandit-security-scan

refactor: update all legacy scripts to use uv instead of python3
  100_memory/100_cursor-memory-context.md
  README.md
  scripts/memory_up.sh
  scripts/quick_start_enhanced_bedrock.sh
  scripts/run_workflow.py
  scripts/unified_memory_orchestrator.py
  scripts/venv_manager.py
  scripts/worklog_summarizer.py
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

refactor: remove automatic venv creation from scripts
  scripts/memory_up.sh
  scripts/quick_start_enhanced_bedrock.sh
  scripts/run_workflow.py
  scripts/venv_manager.py
Due: conflict-check, bandit-security-scan

refactor: update workflow_orchestrator.py to use uv run python
  scripts/workflow_orchestrator.py
Due: conflict-check, bandit-security-scan

fix: enable mock profile on main branch for smoke testing
  scripts/_ragchecker_eval_impl.py
Due: conflict-check, bandit-security-scan

fix: resolve import issues in evaluation scripts
  scripts/health_gated_evaluation.py
  scripts/nightly_smoke_evaluation.py
  scripts/production_evaluation.py
Due: conflict-check, bandit-security-scan

feat: complete evaluation system configuration setup
  000_core/000_evaluation-system-entry-point.md
  scripts/setup_evaluation_env.sh
Due: conflict-check, markdown-validation, timestamp-update

feat: implement database consolidation from dspy_rag to ai_agency
  dspy-rag-system
  metrics/visualizations/dependency_graph.html
  scripts/consolidate_database_schemas.py
  scripts/fix_database_references.py
  scripts/ingest_real_data.py
  scripts/setup_database_schema.py
  scripts/setup_production_database.py
  scripts/update_production_env.py
Due: conflict-check, bandit-security-scan

refactor: update all database references from dspy_rag to ai_agency
  300_experiments/test_concurrent.py
  300_experiments/test_n8n_ltst_integration.py
  300_experiments/test_predictive_intelligence.py
  300_experiments/test_quality_ltst_integration.py
  300_experiments/test_resilience.py
  300_experiments/test_ux_ltst_integration.py
  scripts/documentation_indexer.py
  scripts/documentation_retrieval_cli.py
  scripts/health_gated_evaluation.py
  scripts/maintenance.py
  scripts/monitoring_dashboard.py
  scripts/nightly_smoke_evaluation.py
  scripts/run_outlier_case_fixes.sh
  scripts/system_monitor.py
  scripts/workflow_orchestrator.py
  src/config/resolve.py
  src/dspy_modules/retriever/rerank.py
  src/utils/memory_rehydrator.py
  tmp_links/check_links.py
Due: conflict-check, bandit-security-scan

feat: add comprehensive database performance monitoring system
  scripts/database_performance_monitor.py
  scripts/debug_query_performance.py
  scripts/enable_pg_stat_statements.py
  scripts/simple_database_monitor.py
  scripts/simple_enable_pg_stat_statements.py
  scripts/test_pg_stat_statements.py
Due: conflict-check, bandit-security-scan

Path conditions:
  conflict-check: any of: \.(md|py|txt|sh|yaml|yml|json)$
  bandit-security-scan: any of: \.py$
  markdown-validation: any of: \.md$
  timestamp-update: any of: \.md$
