Repository TheMonk2121/ai-dev-tasks: changes, and which pre-commit hooks are due for each by the changed paths.
All: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

Path conditions:
  conflict-check: any of: \.(md|py|txt|sh|yaml|yml|json)$
  bandit-security-scan: any of: \.py$
  markdown-validation: any of: \.md$
  timestamp-update: any of: \.md$

fix: various system updates and improvements
  300_experiments/300_testing-results/system_health_audits/MEMORY_SYSTEM_DATABASE_AUDIT.md
  dspy_program.py
  evals_300/_generated/300_core.md
  evals_300/_state/changelog.ndjson
  run_evals.sh
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

fix: resolve shellcheck SC1091 error
  run_evals.sh
Due: conflict-check

test(provenance): add contract tests
  .cursor/rules/rolling-48h.mdc
  scripts/_ragchecker_eval_impl.py
  scripts/rollout_metrics_probe.py
  scripts/setup_database_schema.py
  scripts/smoke_eval_gate.py
  src/agents/pydantic_front.py
  src/config/settings.py
  src/dspy_modules/dspy_reader_program.py
  src/dspy_modules/retriever/pg.py
  src/dspy_modules/retriever/rerank.py
  src/memory/guards.py
  src/memory/models.py
  src/memory_graphs/consolidate.py
  src/observability/logging.py
  tests/property/test_retrieval_invariants.py
  tests/test_provenance_contract.py
  tests/test_retriever_hypothesis.py
Due: conflict-check, bandit-security-scan

chore: update MCP server error log
  .mcp-server.err
Due: none

chore: add MCP server logs to .gitignore
  .gitignore
Due: none

chore: remove MCP server logs from git tracking
  .mcp-server.err
Due: none

chore: remove obsolete test files
  tests/demo/test_quarantine_candidate.py
  tests/demo/test_retire_candidate.py
  tests/test_mcp_for_codex.py
  tests/test_semantic_chunker.py
Due: conflict-check, bandit-security-scan

fix: repair 6 corrupted property test files
  tests/property/test_character_tokenizer_props.py
  tests/property/test_config_resolve_props.py
  tests/property/test_qa_flow_props.py
  tests/property/test_query_rewrite_props.py
  tests/property/test_retriever_config_props.py
  tests/property/test_script_aware_tokenizer_props.py
Due: conflict-check, bandit-security-scan

fix: resolve type annotation issues in feature schema
  src/dspy_modules/retriever/feature_schema.py
Due: conflict-check, bandit-security-scan

fix: resolve OpenAI API key dependency issues in property tests
  src/agents/qa.py
  src/dspy_modules/retriever/feature_schema.py
  src/flows/qa_graph.py
  tests/property/test_qa_flow_type_invariants_props.py
Due: conflict-check, bandit-security-scan

Phase 1: Foundation changes
  .cursorrules
  .github/workflows/ci-pr-quick.yml
  .github/workflows/eval.yml
  .github/workflows/ragchecker-evaluation.yml
  .github/workflows/reader-gate.yml
  .github/workflows/reranker-ablation.yml
  .vscode/settings.json
  300_evals/evals/data/gold/v1/gold_cases.jsonl
  300_evals/evals/qa_eval.py
  300_evals/evals/retrieval_eval.py
  pyproject.toml
Due: conflict-check, bandit-security-scan

Phase 2: Core functionality refactoring
  200_setup/201_database-config.py
  src/agents/qa.py
  src/common/db_dsn.py
  src/common/db_dsn.pyi
  src/common/role_guc_manager.py
  src/common/workload_isolation_orchestrator.py
  src/config/models.py
  src/config/settings.py
  src/dspy_modules/dspy_reader_program.py
  src/flows/qa_graph.py
  src/graphs/eval_graph.py
  src/graphs/persistence_pg.py
  src/llm/character_tokenizer.py
  src/llm/script_aware_tokenizer.py
  src/llm/token_count.py
  src/memory_graphs/consolidate.py
  src/monitoring/health_endpoints.py
  src/monitoring/maintenance_metrics.py
  src/monitoring/metrics.py
  src/observability/logging.py
  src/retrieval/cross_encoder_client.py
  src/retrieval/deduplication.py
  src/retrieval/fusion.py
  src/retrieval/intent_router.py
  src/retrieval/memory_integration.py
  src/retrieval/packer.py
  src/retrieval/robustness_checks.py
  src/schemas/eval.py
  src/schemas/settings.py
  src/uncertainty/confidence_calibration.py
  src/uncertainty/feedback_loops.py
  src/uncertainty/selective_answering.py
  src/utils/logger.py
  src/utils/pyd_ndarray.py
  src/utils/retry_wrapper.py
Due: conflict-check, bandit-security-scan

Phase 3: Atlas memory system and Cursor integration
  scripts/unified_memory_orchestrator.py
  scripts/utilities/atlas_complete_graph_system.py
  scripts/utilities/atlas_enhanced_chunking.py
  scripts/utilities/atlas_graph_storage.py
  scripts/utilities/atlas_query_reply_extractor.py
  scripts/utilities/atlas_self_healing.py
  scripts/utilities/atlas_simple_extractor.py
  scripts/utilities/atlas_thread_manager.py
  scripts/utilities/atlas_timescale_integration.py
  scripts/utilities/atlas_unified_graph_system.py
  scripts/utilities/atlas_unified_system.py
  scripts/utilities/cursor_ai_agent.py
  scripts/utilities/cursor_ai_agent_types.py
  scripts/utilities/cursor_ai_integration_framework.py
  scripts/utilities/cursor_atlas_integration.py
  scripts/utilities/cursor_auto_capture.py
  scripts/utilities/cursor_daemon_capture.py
  scripts/utilities/cursor_extension_integration.py
  scripts/utilities/cursor_file_trigger.py
  scripts/utilities/cursor_mcp_capture.py
  scripts/utilities/cursor_memory_integration.py
  scripts/utilities/cursor_query_storage.py
  scripts/utilities/cursor_realtime_capture.py
  scripts/utilities/cursor_realtime_monitor.py
  scripts/utilities/cursor_unified_integration.py
  scripts/utilities/cursor_working_integration.py
  scripts/utilities/enhanced_memory_orchestrator.py
  scripts/utilities/enhanced_memory_orchestrator_with_heuristics.py
  scripts/utilities/episodic_memory_integration.py
  scripts/utilities/episodic_memory_mock.py
  scripts/utilities/episodic_memory_system.py
  scripts/utilities/episodic_workflow_hook.py
  scripts/utilities/episodic_workflow_integration.py
  scripts/utilities/ltst_memory_integration.py
  scripts/utilities/mcp_memory_server.py
  scripts/utilities/memory_benchmark.py
Due: conflict-check, bandit-security-scan

fix: RAG system answer generation and DSPy configuration
  src/dspy_modules/dspy_reader_program.py
  src/dspy_modules/reader/span_picker.py
Due: conflict-check, bandit-security-scan

refactor: update evaluation system to use clean DSPy evaluator
  scripts/evaluation/comprehensive_integration_test.py
  scripts/evaluation/evaluation_system_integration.py
  scripts/evaluation/ragchecker_official_evaluation.py
  scripts/evaluation/synthetic_smoke_test.py
Due: conflict-check, bandit-security-scan

chore: clean up utilities and remove unused parameters
  scripts/audit_chunking_standards.py
  scripts/utilities/atlas_enhanced_chunking.py
  src/dspy_modules/retriever/pg.py
  src/graphs/eval_graph.py
Due: conflict-check, bandit-security-scan

chore: remove deprecated demo scripts and test files
  fix_syntax_errors.py
  scripts/demos/chat_bridge.py
  scripts/demos/chat_web_interface.py
  scripts/demos/demo_assertion_framework.py
  scripts/demos/demo_complete_dspy_v2_system.py
  scripts/demos/demo_complete_system.py
  scripts/demos/demo_config_lock.py
  scripts/demos/demo_four_part_optimization_loop.py
  scripts/demos/demo_labeled_few_shot_optimizer.py
  scripts/demos/demo_phase2_tokenizer_improvements.py
  scripts/demos/demo_unicode_normalization_improvement.py
  scripts/demos/dspy_program.py
  scripts/demos/fancy_chat_web.py
  scripts/demos/multi_agent_chat.py
  scripts/demos/query_dspy_consensus.py
  scripts/demos/simple_mcp_test.py
  scripts/demos/terminal_chat_client.py
  scripts/evaluation/_ragchecker_eval_impl.py
  test_atlas_hypothesis.py
  test_atlas_hypothesis_simple.py
  test_concurrent_threads.py
  test_thread_isolation.py
Due: conflict-check, bandit-security-scan

chore: add archived files and update gitignore
  .gitignore
  600_archives/600_deprecated/_ragchecker_eval_impl.py
  600_archives/600_deprecated/_ragchecker_eval_impl_DEPRECATED.md
  600_archives/demo-scripts/current-demos/chat_bridge.py
  600_archives/demo-scripts/current-demos/chat_web_interface.py
  600_archives/demo-scripts/current-demos/demo_assertion_framework.py
  600_archives/demo-scripts/current-demos/demo_complete_dspy_v2_system.py
  600_archives/demo-scripts/current-demos/demo_complete_system.py
  600_archives/demo-scripts/current-demos/demo_config_lock.py
  600_archives/demo-scripts/current-demos/demo_four_part_optimization_loop.py
  600_archives/demo-scripts/current-demos/demo_labeled_few_shot_optimizer.py
  600_archives/demo-scripts/current-demos/demo_phase2_tokenizer_improvements.py
  600_archives/demo-scripts/current-demos/demo_unicode_normalization_improvement.py
  600_archives/demo-scripts/current-demos/dspy_program.py
  600_archives/demo-scripts/current-demos/fancy_chat_web.py
  600_archives/demo-scripts/current-demos/multi_agent_chat.py
  600_archives/demo-scripts/current-demos/query_dspy_consensus.py
  600_archives/demo-scripts/current-demos/simple_mcp_test.py
  600_archives/demo-scripts/current-demos/terminal_chat_client.py
  600_archives/legacy-tests/test_atlas_hypothesis.py
  600_archives/legacy-tests/test_atlas_hypothesis_simple.py
  600_archives/legacy-tests/test_concurrent_threads.py
  600_archives/legacy-tests/test_thread_isolation.py
  600_archives/utilities/fix_syntax_errors.py
  metrics/progress_memory.jsonl
  metrics/progress_test.jsonl
  metrics/test_eval.jsonl
  metrics/test_functionality.jsonl
  scripts/evaluation/clean_dspy_evaluator.py
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

Remove moot tests after evaluation system refactoring
  tests/demo/test_quarantine_candidate.py
  tests/demo/test_retire_candidate.py
  tests/mocks/ragchecker_mock.py
  tests/test_bedrock_integration.py
  tests/test_ragchecker_evaluation.py
  tests/test_ragchecker_performance.py
Due: conflict-check, bandit-security-scan

chore(deps): add psycopg[binary,pool]; align tooling configs
  pyproject.toml
  pytest.ini
  uv.lock
Due: none

ci+docs: remove Pyright; standardize on Ruff; fix GH Actions context usage; update guides/templates and scripts to Ruff
  .github/workflows/dry-run.yml
  .github/workflows/eval.yml
  .pre-commit-config.yaml
  000_core/001_PRD_TEMPLATE.md
  000_core/002_TASK-LIST_TEMPLATE.md
  000_core/003_EXECUTION_TEMPLATE.md
  100_memory/104_dspy-development-context.md
  400_guides/400_04_development-workflow-and-standards.md
  400_guides/400_05_codebase-organization-patterns.md
  pyproject.toml
  scripts/shell/utilities/quick_test.sh
  scripts/utilities/cursor_query_storage.py
  scripts/utilities/workflow/uv_workflow_optimizer.py
  src/flows/qa_graph.py
  src/graphs/eval_graph.py
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

chore(shell): silence SC1091 for optional venv activation without behavior change
  scripts/shell/deployment/optimal_ragas_eval.sh
Due: conflict-check

refactor: remove deprecated migration and persistence modules
  scripts/migration/load_historical_evals.py
  scripts/migration/load_historical_evals_v2.py
  scripts/migration/load_historical_evals_v3.py
  scripts/migration/load_sample_historical_evals.py
  src/graphs/persistence_pg.py
  src/memory_graphs/consolidate.py
Due: conflict-check, bandit-security-scan

docs: align system/ancillary guides with current tooling and workflows
  100_memory/100_cursor-memory-context.md
  400_guides/400_03_system-overview-and-architecture.md
  400_guides/400_10_integrations-models.md
  400_guides/400_11_performance-optimization.md
  400_guides/400_12_advanced-configurations.md
Due: conflict-check, markdown-validation, timestamp-update

chore(deps): sync lockfile and requirement manifests
  metrics/dsn_audit.jsonl
  requirements-constraints.txt
  requirements-uv.txt
  requirements.txt
  uv.lock
Due: conflict-check

graphs(eval): keep eval graph and run_eval_graph runner/tests in sync
  300_evals/scripts/evaluation/run_eval_graph.py
  scripts/evaluation/run_eval_graph.py
  src/graphs/eval_graph.py
  tests/test_run_eval_graph.py
Due: conflict-check, bandit-security-scan

graphs(qa): keep QA flow graph and property tests in sync
  src/flows/qa_graph.py
  tests/property/test_qa_flow_props.py
Due: conflict-check, bandit-security-scan

eval: update evaluation pipeline scripts and related tests
  300_evals/tests/test_rehydration_integration.py
  300_evals/tests/test_retriever_hypothesis.py
  scripts/evaluation/core/ragchecker_official_evaluation.py
  scripts/evaluation/eval_manifest_generator.py
  scripts/evaluation/evaluation_system_integration.py
  scripts/evaluation/ragchecker_official_evaluation.py
  scripts/ingest_code.py
Due: conflict-check, bandit-security-scan

monitoring+maintenance: improvements across monitors and DB ops
  scripts/maintenance/apply_db_optimizations.py
  scripts/maintenance/backfill_section_titles.py
  scripts/maintenance/consolidate_database_schemas.py
  scripts/maintenance/daily_maintenance.py
  scripts/maintenance/db_patch_slug_support.py
  scripts/maintenance/enable_pg_stat_statements.py
  scripts/maintenance/fix_markdown_progress_file.py
  scripts/maintenance/maintenance.py
  scripts/monitoring/comprehensive_system_monitor.py
  scripts/monitoring/database_performance_monitor.py
  scripts/monitoring/drift_detector.py
  scripts/monitoring/health_gate.py
  scripts/monitoring/observability.py
  scripts/monitoring/simple_database_monitor.py
  scripts/monitoring/system_monitor.py
  scripts/monitoring/uv_performance_monitor.py
  scripts/monitoring/weekly_optimization.py
Due: conflict-check, bandit-security-scan

data: vector migration + chunking pipeline updates
  scripts/data_processing/chunking/migrate_to_token_chunking.py
  scripts/data_processing/chunking/test_standards_compliant_chunking.py
  scripts/data_processing/cleanup/clean_vector_migration.py
  scripts/data_processing/cleanup/cleanup_database_content.py
  scripts/data_processing/core/ingest_real_data.py
  scripts/data_processing/core/migrate_all_vector_tables.py
  scripts/deployment/comprehensive_vector_migration.py
  scripts/deployment/deduplicate_database.py
  scripts/deployment/migrate_eval_results_to_timescale.py
  scripts/deployment/migrate_schema_vector_dimensions.py
  scripts/deployment/robust_vector_migration.py
  scripts/deployment/safe_migrate_vector_dimensions.py
Due: conflict-check, bandit-security-scan
