Repository TheMonk2121/ai-dev-tasks: changes, and which pre-commit hooks are due for each by the changed paths.
All: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

conflict-check:
  name: Conflict Check
  entry: bash scripts/hook_timer.sh
  args:
  - bash
  - -c
  - git grep -nE '^(<<<<<<< |======= |>>>>>>> )' '$@' || exit 0
  language: system
  pass_filenames: true
  description: Check for merge conflicts using simple git grep

bandit-security-scan:
  name: Bandit Security Scan
  entry: bash scripts/hook_timer.sh
  args:
  - bandit
  - -q
  - --severity-level
  - medium
  - --exit-zero
  language: system
  pass_filenames: true
  description: Run Bandit on staged Python files using .bandit config with medium severity

markdown-validation:
  name: Markdown Validation
  entry: bash scripts/hook_timer.sh
  args:
  - bash
  - scripts/simple_doc_validation.sh
  language: system
  pass_filenames: false
  description: Validate markdown files for basic structure and broken links

timestamp-update:
  name: Auto Update Documentation Timestamps
  entry: bash scripts/hook_timer.sh
  args:
  - python3
  - scripts/auto_update_timestamps.py
  language: system
  pass_filenames: false
  description: Automatically update Last Updated timestamps in documentation files

feat: Complete Phase 3 - Advanced optimization and integration
  dspy-rag-system/docs/gate_system_guide.md
  dspy-rag-system/src/dspy_modules/gate_system.py
  dspy-rag-system/test_phase3_optimizations.py
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

chore(backlog): add B-1042 — Scribe contextual worklog improvements (templates, context, throttle)
  000_core/000_backlog.md
Due: conflict-check, markdown-validation, timestamp-update

docs(B-1041): document RAG eval suite, components, and interface changes in 400_00, 400_07, 400_05
  400_guides/400_00_getting-started-and-index.md
  400_guides/400_05_coding-and-prompting-standards.md
  400_guides/400_07_ai-frameworks-dspy.md
Due: conflict-check, markdown-validation, timestamp-update

docs(README,B-1041): add What’s New — RAG evaluation suite overview, quickstart, and links
  README.md
Due: conflict-check, markdown-validation, timestamp-update

chore(B-1041): follow-ups to model switcher and verification; update reprocess guide; scribe/workspace tweaks
  .vscode/settings.json
  artifacts/worklogs/B-096.md
  dspy-rag-system/reprocess_dspy_guide.py
  dspy-rag-system/src/dspy_modules/model_switcher.py
  dspy-rag-system/verify_codebase_index.py
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

feat: Complete LTST Memory System implementation with decision intelligence foundation
  000_core/000_backlog.md
  003_process-task-list-B-1006-DSPy-3.0-Migration.md
  003_process-task-list-B-1012-LTST-Memory-System-Decision-Intelligence.md
  003_process-task-list-B-1012-LTST-Memory-System.md
  400_guides/400_07_ai-frameworks-dspy.md
  600_archives/BASELINE_RAG_PERFORMANCE_REPORT.md
  PRD-B-1006-DSPy-3.0-Migration.md
  PRD-B-1012-LTST-Memory-System-Decision-Intelligence.md
  Task-List-B-1006-DSPy-3.0-Migration.md
  Task-List-B-1012-LTST-Memory-System-Decision-Intelligence.md
  dspy-rag-system/baseline_rag_performance_test.py
  dspy-rag-system/config/database/ltst_schema_design.md
  dspy-rag-system/config/database/ltst_schema_documentation.md
  dspy-rag-system/docs/ltst_performance_benchmarks.md
  dspy-rag-system/docs/ltst_test_results.md
  dspy-rag-system/eval_hit_at3.py
  dspy-rag-system/improve_rag_quality.py
  dspy-rag-system/scripts/migrate_conversation_schema_fixed.py
  dspy-rag-system/scripts/optimize_ltst_performance.py
  dspy-rag-system/scripts/rollback_ltst_migration.py
  dspy-rag-system/src/dspy_modules/citation_utils.py
  dspy-rag-system/src/dspy_modules/rag_pipeline.py
  dspy-rag-system/src/dspy_modules/vector_store.py
  dspy-rag-system/src/utils/context_merger.py
  dspy-rag-system/src/utils/conversation_storage.py
  dspy-rag-system/src/utils/memory_rehydrator.py
  dspy-rag-system/src/utils/session_manager.py
  dspy-rag-system/test_enhanced_rag_verification.py
  dspy-rag-system/tests/test_ltst_comprehensive.py
  dspy-rag-system/tests/test_ltst_schema_validation.py
  enhanced_workflow.py
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

feat(B-1012): Complete LTST Memory System with Decision Intelligence
  000_core/000_backlog.md
  003_process-task-list-B-1012-LTST-Memory-System-Decision-Intelligence.md
  artifacts/worklogs/B-096.md
  dspy-rag-system/scripts/migrate_decision_intelligence_schema.py
  dspy-rag-system/src/utils/context_merger.py
  dspy-rag-system/src/utils/conversation_storage.py
  dspy-rag-system/src/utils/decision_evaluator.py
  dspy-rag-system/src/utils/decision_performance_optimizer.py
  dspy-rag-system/src/utils/memory_rehydrator.py
  dspy-rag-system/src/utils/session_manager.py
  dspy-rag-system/test_decision_analytics.py
  dspy-rag-system/test_decision_evaluator.py
  dspy-rag-system/test_decision_retrieval.py
  dspy-rag-system/test_performance_optimizer.py
  dspy-rag-system/tests/test_decision_integration.py
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

B-1043: Complete Phase 1 - Memory System Integration & Automation - All 7 tasks completed
  .mcp-server.err
  .mcp-server.out
  000_core/000_backlog.md
  003_process-task-list-B-1043-Memory-System-Integration-Automation.md
  PRD-B-1043-Memory-System-Integration-Automation.md
  Task-List-B-1043-Memory-System-Integration-Automation.md
  artifacts/worklogs/B-096.md
  dspy-rag-system/src/dspy_modules/model_switcher.py
  dspy-rag-system/src/utils/decision_extractor.py
  dspy-rag-system/src/utils/evaluation_harness.py
  dspy-rag-system/src/utils/monitoring_system.py
  dspy-rag-system/src/utils/supersedence_retrieval.py
  dspy-rag-system/src/utils/unified_retrieval_api.py
  scripts/mcp_memory_server.py
  scripts/mcp_security_config.py
  test_decision_extraction.py
  test_decision_extractor_direct.py
  test_dspy_ltst_integration.py
  test_supersedence_retrieval.py
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

B-1043: Complete Phase 2 - Data Source Integration & Automation - All 4 tasks completed
  .mcp-server.err
  .mcp-server.out
  003_process-task-list-B-1043-Memory-System-Integration-Automation.md
  dspy-rag-system/src/utils/git_ltst_integration.py
  dspy-rag-system/src/utils/performance_ltst_integration.py
  dspy-rag-system/src/utils/scribe_ltst_integration.py
  dspy-rag-system/src/utils/unified_data_pipeline.py
  test_git_ltst_integration.py
  test_performance_ltst_integration.py
  test_scribe_ltst_integration.py
  test_unified_data_pipeline.py
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

B-1043: Complete LTST Memory System implementation with all bug fixes
  .vscode/settings.json
  dspy-rag-system/backward_compatibility_standalone.py
  dspy-rag-system/dashboard_integration_standalone.py
  dspy-rag-system/privacy_integration_standalone.py
  dspy-rag-system/session_continuity_standalone.py
  dspy-rag-system/src/utils/backward_compatibility.py
  dspy-rag-system/src/utils/conversation_storage.py
  dspy-rag-system/src/utils/dashboard_manager.py
  dspy-rag-system/src/utils/git_ltst_integration.py
  dspy-rag-system/src/utils/ltst_memory_system.py
  dspy-rag-system/src/utils/performance_ltst_integration.py
  dspy-rag-system/src/utils/privacy_manager.py
  dspy-rag-system/src/utils/scribe_ltst_integration.py
  dspy-rag-system/src/utils/session_continuity.py
  dspy-rag-system/src/utils/supersedence_retrieval.py
  dspy-rag-system/src/utils/unified_retrieval_api.py
  dspy-rag-system/test_backward_compatibility_simple.py
  dspy-rag-system/test_dashboard_manager_simple.py
  dspy-rag-system/test_ltst_system_simple.py
  dspy-rag-system/test_privacy_manager_simple.py
  dspy-rag-system/test_session_continuity_simple.py
  dspy-rag-system/tests/test_session_continuity.py
  scripts/mcp_memory_server.py
Due: conflict-check, bandit-security-scan

feat: Enhanced Unified Memory Orchestrator with Database Auto-Startup
  scripts/unified_memory_orchestrator.py
Due: conflict-check, bandit-security-scan

docs: Add comprehensive memory system documentation to core 00-12 guides
  000_core/003_process-task-list.md
  400_guides/400_03_system-overview-and-architecture.md
  400_guides/400_04_development-workflow-and-standards.md
  400_guides/400_06_memory-and-context-systems.md
  400_guides/400_11_deployments-ops-and-observability.md
Due: conflict-check, markdown-validation, timestamp-update

feat: Update .cursorrules to use Unified Memory Orchestrator
  .cursorrules
Due: none

feat: Phase 1 - RAGAS-style faithfulness testing integration
  metrics/baseline_ragus_evaluations/BASELINE_PROGRESS_SUMMARY.md
  metrics/baseline_ragus_evaluations/PHASE_1_COMPLETION_REPORT.md
  scripts/baseline_ragus_evaluation.py
  scripts/faithfulness_evaluator.py
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

feat: Phase 2 - Ground truth dataset creation and RAGAS-style context recall/completeness
  metrics/baseline_ragus_evaluations/BASELINE_PROGRESS_SUMMARY.md
  metrics/baseline_ragus_evaluations/PHASE_2_COMPLETION_REPORT.md
  scripts/baseline_ragus_evaluation.py
  scripts/ground_truth_evaluator.py
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

feat: Implement local RAG evaluation system (Phase 6)
  000_core/000_backlog.md
  metrics/baseline_ragus_evaluations/LOCAL_RAG_EVALUATION_SUMMARY.md
  scripts/hybrid_ragas_evaluation.py
  scripts/local_rag_evaluation.py
  scripts/ragchecker_evaluation.py
  scripts/simple_local_rag_evaluation.py
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

feat: Complete RAGChecker evaluation system implementation (B-1045, B-1046, B-1049)
  .github/workflows/ragchecker-evaluation.yml
  COMPREHENSIVE_RAGCHECKER_EVALUATION_REPORT.md
  RAGCHECKER_FINAL_INTEGRATION_SUMMARY.md
  bedrock_test.py
  config/aws_credentials.env.template
  scripts/bedrock_batch_processor.py
  scripts/bedrock_client.py
  scripts/bedrock_connection_test.py
  scripts/bedrock_cost_monitor.py
  scripts/bedrock_setup_guide.py
  scripts/performance_monitor.py
  scripts/performance_optimizer.py
  scripts/performance_profiler.py
  scripts/ragchecker_ab_testing.py
  scripts/ragchecker_batch_evaluation.py
  scripts/ragchecker_constitution_validation.py
  scripts/ragchecker_e2e_validation.py
  scripts/ragchecker_error_taxonomy.py
  scripts/ragchecker_evaluation.py
  scripts/ragchecker_official_evaluation.py
  scripts/ragchecker_pydantic_models.py
  scripts/ragchecker_quality_gates.py
  scripts/ragchecker_single_test.py
  scripts/ragchecker_with_monitoring.py
  scripts/test_ragchecker_pydantic_integration.py
  tests/test_bedrock_client.py
  tests/test_bedrock_integration.py
  tests/test_ragchecker_evaluation.py
  tests/test_ragchecker_performance.py
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

feat: Complete vector system mapping and DSPy role integration (B-1047, B-1048)
  PRD-B-1047-Vector-Based-System-Mapping.md
  PRD-B-1048-DSPy-Role-Integration-with-Vector-Based-System-Mapping.md
  Task-List-B-1047-Vector-Based-System-Mapping.md
  Task-List-B-1048-DSPy-Role-Integration-with-Vector-Based-System-Mapping.md
  metrics/baseline_evaluations/BASELINE_PROGRESS_SUMMARY.md
  metrics/baseline_evaluations/EVALUATION_STATUS.md
  metrics/baseline_evaluations/LOCAL_RAG_EVALUATION_SUMMARY.md
  metrics/baseline_evaluations/PHASE_1_COMPLETION_REPORT.md
  metrics/baseline_evaluations/PHASE_2_COMPLETION_REPORT.md
  metrics/baseline_evaluations/README.md
  metrics/visualizations/dependency_graph.html
  scripts/b1048_comprehensive_evaluation.py
  scripts/b1048_ragchecker_evaluation.py
  scripts/coder_agent_enhancement_plan.py
  scripts/coder_agent_evaluation.py
  scripts/coder_role_baseline_evaluation.py
  scripts/coder_role_integration.py
  scripts/demos/demo_assertion_framework.py
  scripts/demos/demo_complete_dspy_v2_system.py
  scripts/demos/demo_four_part_optimization_loop.py
  scripts/demos/demo_labeled_few_shot_optimizer.py
  scripts/dependency_graph_builder.py
  scripts/dependency_parser.py
  scripts/dependency_visualizer.py
  scripts/dspy_vector_integration.py
  scripts/enhanced_coder_role.py
  scripts/enhanced_implementer_role.py
  scripts/enhanced_planner_role.py
  scripts/enhanced_researcher_role.py
  scripts/role_context_enhancer.py
  scripts/test_phase1_integration.py
  scripts/test_phase2_integration.py
  scripts/test_phase3_integration.py
  scripts/test_vector_system_demo.py
  scripts/vector_system_mapper.py
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

docs: Update core documentation and guide restructuring (B-1044)
  000_core/000_backlog.md
  000_core/001_create-prd-TEMPLATE.md
  100_memory/100_cursor-memory-context.md
  100_memory/100_dspy-role-communication-guide.md
  100_memory/100_evidence-based-optimization-guide.md
  100_memory/100_implementation-patterns-library.md
  100_memory/100_role-system-alignment-guide.md
  100_memory/100_technical-artifacts-integration-guide.md
  400_guides/400_00_getting-started-and-index.md
  400_guides/400_03_system-overview-and-architecture.md
  400_guides/400_04_development-workflow-and-standards.md
  400_guides/400_05_coding-and-prompting-standards.md
  400_guides/400_06_memory-and-context-systems.md
  400_guides/400_08_results-management-and-evaluations.md
  400_guides/400_10_security-compliance-and-access.md
  400_guides/400_11_deployments-ops-and-observability.md
  400_guides/400_12_product-management-and-roadmap.md
  PRD-B-1044-00-12-Guide-Restructuring.md
  README.md
Due: conflict-check, markdown-validation, timestamp-update

cleanup: Archive legacy RAGUS evaluation system and demo files
  400_guides/demo_assertion_framework.py
  400_guides/demo_complete_dspy_v2_system.py
  400_guides/demo_four_part_optimization_loop.py
  400_guides/demo_labeled_few_shot_optimizer.py
  600_archives/ragus_evaluation_archived.py
  600_archives/ragus_evaluations_archived/PROGRESS_SUMMARY.md
  600_archives/ragus_evaluations_archived/README.md
  metrics/baseline_ragus_evaluations/BASELINE_PROGRESS_SUMMARY.md
  metrics/baseline_ragus_evaluations/LOCAL_RAG_EVALUATION_SUMMARY.md
  metrics/baseline_ragus_evaluations/PHASE_1_COMPLETION_REPORT.md
  metrics/baseline_ragus_evaluations/PHASE_2_COMPLETION_REPORT.md
  metrics/baseline_ragus_evaluations/README.md
  scripts/baseline_ragus_evaluation.py
  scripts/faithfulness_evaluator.py
  scripts/ground_truth_evaluator.py
  scripts/hybrid_ragas_evaluation.py
  scripts/local_rag_evaluation.py
  scripts/ragchecker_official_evaluation.py.backup
  scripts/simple_local_rag_evaluation.py
Due: conflict-check, bandit-security-scan, markdown-validation, timestamp-update

test: Add comprehensive test suite and integration tests
  scripts/enhanced_context_retriever.py
  scripts/pre_commit_ragchecker.py
  scripts/simple_dependency_graph.py
  scripts/simple_dependency_graph_no_viz.py
  scripts/test_constitution_validation_integration.py
  scripts/test_error_taxonomy_integration.py
  scripts/test_specific_queries.py
Due: conflict-check, bandit-security-scan

fix: Correct B-1018 status from 'todo' to 'PENDING' - implementation not completed
  000_core/000_backlog.md
Due: conflict-check, markdown-validation, timestamp-update

Phase 1: Memory System Foundation (00-02) - Complete restructuring of memory system documentation
  400_guides/400_00_memory-system-overview.md
  400_guides/400_01_memory-system-architecture.md
  400_guides/400_02_memory-rehydration-context-management.md
Due: conflict-check, markdown-validation, timestamp-update

Add DSPy Researcher analysis script for documentation restructuring
  dspy-rag-system/run_researcher_analysis.py
Due: conflict-check, bandit-security-scan

Phase 2: Codebase Development (03-05) - Complete restructuring of codebase documentation
  400_guides/400_03_system-overview-and-architecture.md
  400_guides/400_04_development-workflow-and-standards.md
  400_guides/400_05_codebase-organization-patterns.md
Due: conflict-check, markdown-validation, timestamp-update

Phase 3: Backlog Planning (06-08) - Complete restructuring of backlog and planning documentation
  400_guides/400_06_backlog-management-priorities.md
  400_guides/400_07_project-planning-roadmap.md
  400_guides/400_08_task-management-workflows.md
Due: conflict-check, markdown-validation, timestamp-update

Phase 4: Advanced Topics (09-12) - Complete restructuring of advanced documentation
  400_guides/400_09_ai-frameworks-dspy.md
  400_guides/400_10_integrations-models.md
  400_guides/400_11_performance-optimization.md
  400_guides/400_12_advanced-configurations.md
Due: conflict-check, markdown-validation, timestamp-update

Medium-term improvements: Enhanced documentation with centralized glossary, role-specific navigation, and comprehensive examples
  400_guides/400_00_memory-system-overview.md
  400_guides/400_09_ai-frameworks-dspy.md
  400_guides/400_10_integrations-models.md
  400_guides/400_11_performance-optimization.md
  400_guides/400_12_advanced-configurations.md
Due: conflict-check, markdown-validation, timestamp-update

Archive deprecated 00-12 documents with deprecation notices
  600_archives/400_guides/deprecated-00-12-docs/400_00_getting-started-and-index.md
  600_archives/400_guides/deprecated-00-12-docs/400_01_documentation-playbook.md
  600_archives/400_guides/deprecated-00-12-docs/400_02_governance-and-ai-constitution.md
  600_archives/400_guides/deprecated-00-12-docs/400_05_coding-and-prompting-standards.md
  600_archives/400_guides/deprecated-00-12-docs/400_06_memory-and-context-systems.md
  600_archives/400_guides/deprecated-00-12-docs/400_07_ai-frameworks-dspy.md
  600_archives/400_guides/deprecated-00-12-docs/400_08_integrations-editor-and-models.md
  600_archives/400_guides/deprecated-00-12-docs/400_11_deployments-ops-and-observability.md
  600_archives/400_guides/deprecated-00-12-docs/400_12_product-management-and-roadmap.md
  600_archives/400_guides/deprecated-00-12-docs/README.md
Due: conflict-check, markdown-validation, timestamp-update

Phase 1: Enhance existing 13 guides with technical documentation gaps
  400_guides/400_01_memory-system-architecture.md
  400_guides/400_09_ai-frameworks-dspy.md
  400_guides/400_11_performance-optimization.md
Due: conflict-check, markdown-validation, timestamp-update

Phase 1 Enhancement: Add user-centered improvements to technical documentation
  400_guides/400_01_memory-system-architecture.md
  400_guides/400_09_ai-frameworks-dspy.md
  400_guides/400_11_performance-optimization.md
Due: conflict-check, markdown-validation, timestamp-update

Priority 1: Restructure 400_01_memory-system-architecture.md for user-centered flow
  400_guides/400_01_memory-system-architecture.md
Due: conflict-check, markdown-validation, timestamp-update

Priority 1: Restructure 400_09_ai-frameworks-dspy.md for user-centered flow
  400_guides/400_09_ai-frameworks-dspy.md
Due: conflict-check, markdown-validation, timestamp-update

Priority 1: Restructure 400_11_performance-optimization.md for user-centered flow
  400_guides/400_11_performance-optimization.md
Due: conflict-check, markdown-validation, timestamp-update

Priority 2: Add Cross-Guide Navigation to all three guides
  400_guides/400_01_memory-system-architecture.md
  400_guides/400_09_ai-frameworks-dspy.md
  400_guides/400_11_performance-optimization.md
Due: conflict-check, markdown-validation, timestamp-update

Priority 3: Add 5-Minute Quick Start sections to all three guides
  400_guides/400_01_memory-system-architecture.md
  400_guides/400_09_ai-frameworks-dspy.md
  400_guides/400_11_performance-optimization.md
Due: conflict-check, markdown-validation, timestamp-update

Path conditions:
  conflict-check: any of: \.(md|py|txt|sh|yaml|yml|json)$
  bandit-security-scan: any of: \.py$
  markdown-validation: any of: \.md$
  timestamp-update: any of: \.md$
